<div class="col-xl-9 col-md-12 box-col-12">
  <div class="email-right-aside bookmark-tabcontent contacts-tabs">
    <div class="card email-body radius-left">
      <div>
        <div class="tab-content">
          <div class="tab-pane fade active show" id="pills-personal" role="tabpanel"
            aria-labelledby="pills-personal-tab">
            <div class="card mb-0">
              <div class="card-header d-flex">
                <h5>Managers</h5><span class="f-14 pull-right mt-0">7 Contacts</span>
              </div>
              <div class="card-body p-0">
                <div class="row list-persons m-0" id="addcon">
                  <div class="col-xl-4 xl-50 col-md-5 p-0">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <a class="contact-tab-0 nav-link active" id="v-pills-user-tab" data-bs-toggle="pill"
                        onclick="activeDiv(0)" href="#v-pills-user" role="tab" aria-controls="v-pills-user"
                        aria-selected="true">
                        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle update_img_0"
                            src="{{ url_for('static', filename='assets/images/user/2.png')}}" alt="">
                          <div class="media-body">
                            <h6> <span class="first_name_0">Fatma </span><span class="last_name_0">Ulduz</span></h6>
                            <p class="email_add_0">fatmaulduz@emaar.com</p>
                          </div>
                        </div>
                      </a><a class="contact-tab-1 nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                        onclick="activeDiv(1)" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">
                        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle update_img_1"
                            src="{{ url_for('static', filename='assets/images/user/8.jpg')}}" alt="">
                          <div class="media-body">
                            <h6> <span class="first_name_1">Madina </span><span class="last_name_1">Aleva</span></h6>
                            <p class="email_add_1">comeren@gmail.com</p>
                          </div>
                        </div>
                      </a><a class="contact-tab-2 nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                        onclick="activeDiv(2)" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false">
                        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle update_img_2"
                            src="{{ url_for('static', filename='assets/images/user/1.jpg')}}" alt="">
                          <div class="media-body">
                            <h6> <span class="first_name_2">Issa </span><span class="last_name_2">Bell</span></h6>
                            <p class="email_add_2">issabell@gmail.com</p>
                          </div>
                        </div>
                      </a><a class="contact-tab-3 nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        onclick="activeDiv(3)" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">
                        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle update_img_3"
                            src="{{ url_for('static', filename='assets/images/user/14.png')}}" alt="">
                          <div class="media-body">
                            <h6> <span class="first_name_3">Dzhamil </span><span class="last_name_3">Zaki</span></h6>
                            <p class="email_add_3">andewjon@gmail.com</p>
                          </div>
                        </div>
                      </a><a class="contact-tab-4 nav-link" id="v-pills-contact1-tab" data-bs-toggle="pill"
                        onclick="activeDiv(4)" href="#v-pills-contact1" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">
                        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle update_img_4"
                            src="{{ url_for('static', filename='assets/images/user/5.jpg')}}" alt="">
                          <div class="media-body">
                            <h6> <span class="first_name_4">Ali </span><span class="last_name_4">Abbas</span></h6>
                            <p class="email_add_4">jasonb@gmail.com</p>
                          </div>
                        </div>
                      </a><a class="contact-tab-5 nav-link" id="v-pills-contact8-tab" data-bs-toggle="pill"
                        onclick="activeDiv(5)" href="#v-pills-contact2" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">
                        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle update_img_5"
                            src="{{ url_for('static', filename='assets/images/avtar/11.jpg')}}" alt="">
                          <div class="media-body">
                            <h6> <span class="first_name_5">Muhammad </span><span class="last_name_5">Danif</span></h6>
                            <p class="email_add_5">monty@gmail.com</p>
                          </div>
                        </div>
                      </a><a class="contact-tab-6 nav-link" id="v-pills-contact3-tab" data-bs-toggle="pill"
                        onclick="activeDiv(6)" href="#v-pills-contact3" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">
                        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle update_img_6"
                            src="{{ url_for('static', filename='assets/images/avtar/16.jpg')}}" alt="">
                          <div class="media-body">
                            <h6> <span class="first_name_6">Brock </span><span class="last_name_6">Lee</span></h6>
                            <p class="email_add_6">lee@gmail.com</p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-xl-8 xl-50 col-md-7 p-0">
                    <div class="tab-content px-3" id="v-pills-tabContent">
                      <div class="tab-pane contact-tab-0 tab-content-child fade show active" id="v-pills-user"
                        role="tabpanel" aria-labelledby="v-pills-user-tab">
                        <div class="profile-mail">
                          <div class="media"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_0"
                              src="{{ url_for('static', filename='assets/images/user/2.png')}}" alt="">
                            <input class="updateimg" type="file" name="img" onchange="readURL(this,0)">
                            <div class="media-body mt-0">
                              <h5><span class="first_name_0">Fatma </span><span class="last_name_0">Ulduz</span></h5>
                              <p class="email_add_0">fatmaulduz@emaar.com</p>
                              <ul>
                                <li><a href="#" onclick="editContact(0)">Edit</a></li>
                                <li><a href="#" onclick="deleteContact(0)">Delete</a></li>
                                <li><a href="#" onclick="history(0)">History</a></li>
                                <li><a href="#" onclick="printContact(0)" data-bs-toggle="modal"
                                    data-bs-target="#printModal">Print</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="email-general">
                            <h6 class="mb-3">General</h6>
                            <ul>
                              <li>Name <span class="font-primary first_name_0">Fatma</span></li>
                              <li>Gender <span class="font-primary">Ulduz</span></li>
                              <li>Birthday<span class="font-primary"> <span class="birth_day_0">18</span><span
                                    class="birth_month_0 ms-1">May</span><span
                                    class="birth_year_0 ms-1">1994</span></span></li>
                              <li>Personality<span class="font-primary personality_0">Cool</span></li>
                              <li>City<span class="font-primary city_0">moline acres</span></li>
                              <li>Mobile No<span class="font-primary mobile_num_0">+0 1800 76855</span></li>
                              <li>Email Address <span class="font-primary email_add_0">anasammar@emaar.com </span></li>
                              <li>Interest<span class="font-primary interest_0">photography</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane contact-tab-1 tab-content-child fade" id="v-pills-profile" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab">
                        <div class="profile-mail">
                          <div class="media"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_1"
                              src="{{ url_for('static', filename='assets/images/user/8.jpg')}}" alt="">
                            <input class="updateimg" type="file" name="img" onchange="readURL(this,1)">
                            <div class="media-body mt-0">
                              <h5><span class="first_name_1">Comeren </span><span class="last_name_1">Diaz</span></h5>
                              <p class="email_add_1">comeren@gmail.com</p>
                              <ul>
                                <li><a href="#" onclick="editContact(1)">Edit</a></li>
                                <li><a href="#" onclick="deleteContact(1)">Delete</a></li>
                                <li><a href="#" onclick="history(1)">History</a></li>
                                <li><a href="#" onclick="printContact(1)" data-bs-toggle="modal"
                                    data-bs-target="#printModal">Print</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="email-general">
                            <h6 class="mb-3">General</h6>
                            <ul>
                              <li>Name <span class="font-primary first_name_1">Comeren</span></li>
                              <li>Gender <span class="font-primary">Female</span></li>
                              <li>Birthday<span class="font-primary"> <span class="birth_day_1">7</span><span
                                    class="birth_month_1 ms-1">Feb</span><span
                                    class="birth_year_1 ms-1">1995</span></span></li>
                              <li>Personality<span class="font-primary personality_1">Cool</span></li>
                              <li>City<span class="font-primary city_1">Delhi</span></li>
                              <li>Mobile No<span class="font-primary mobile_num_1">+0 1800 55812</span></li>
                              <li>Email Address <span class="font-primary email_add_1">comeren@gmail.com</span></li>
                              <li>Interest<span class="font-primary interest_1">sports</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane contact-tab-2 tab-content-child fade" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab">
                        <div class="profile-mail">
                          <div class="media"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_2"
                              src="{{ url_for('static', filename='assets/images/user/1.jpg')}}" alt="">
                            <input class="updateimg" type="file" name="img" onchange="readURL(this,2)">
                            <div class="media-body mt-0">
                              <h5> <span class="first_name_2">Issa </span><span class="last_name_2">Bell</span></h5>
                              <p class="email_add_2">issabell@gmail.com</p>
                              <ul>
                                <li><a href="#" onclick="editContact(2)">Edit</a></li>
                                <li><a href="#" onclick="deleteContact(2)">Delete</a></li>
                                <li><a href="#" onclick="history(2)">History</a></li>
                                <li><a href="#" onclick="printContact(2)" data-bs-toggle="modal"
                                    data-bs-target="#printModal">Print</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="email-general">
                            <h6 class="mb-3">General</h6>
                            <ul>
                              <li>Name <span class="font-primary first_name_2">Issa</span></li>
                              <li>Gender <span class="font-primary">Male</span></li>
                              <li>Birthday<span class="font-primary"> <span class="birth_day_2">20</span><span
                                    class="birth_month_2 ms-1">Jul</span><span
                                    class="birth_year_2 ms-1">1993</span></span></li>
                              <li>Personality<span class="font-primary personality_2">Cool</span></li>
                              <li>City<span class="font-primary city_2">Mumbai</span></li>
                              <li>Mobile No<span class="font-primary mobile_num_2">+0 1800 87412</span></li>
                              <li>Email Address <span class="font-primary email_add_2">issabell@gmail.com</span></li>
                              <li>Interest<span class="font-primary interest_2">cooking</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>