<div class="email-wrap bookmark-wrap">
  <div class="row">
    <div class="col-xl-3 box-col-6">
      <div class="email-left-aside">
        <div class="card">
          <div class="card-body">
            <div class="email-app-sidebar left-bookmark">
              <div class="media">
                <div class="media-size-email"><img class="me-3 rounded-circle"
                    src="{{ url_for('static', filename='assets/images/user/user.png')}}" alt=""></div>
                <div class="media-body">
                  <h6 class="f-w-600"><a href="/user_profile">Anas Ammar Jr.</a></h6>
                  <p>emaar@emaar.com</p>
                </div>
              </div>
              <ul class="nav main-menu contact-options" role="tablist">
                <li class="nav-item">
                  <button class="badge-light-primary btn-block btn-mail w-100" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal"><i class="me-2" data-feather="users"></i>New employee</button>
                  <div class="modal fade modal-bookmark" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Add Contact</h5>
                          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form class="form-bookmark needs-validation" id="bookmark-form" novalidate="">
                            <div class="row g-2">
                              <div class="mb-3 col-md-12 mt-0">
                                <label for="con-name">Name</label>
                                <div class="row">
                                  <div class="col-sm-6">
                                    <input class="form-control" id="con-name" type="text" required=""
                                      placeholder="First Name" autocomplete="off">
                                  </div>
                                  <div class="col-sm-6">
                                    <input class="form-control" id="con-last" type="text" required=""
                                      placeholder="Last Name" autocomplete="off">
                                  </div>
                                </div>
                              </div>
                              <div class="mb-3 col-md-12 mt-0">
                                <label for="con-mail">Email Address</label>
                                <input class="form-control" id="con-mail" type="text" required="" autocomplete="off">
                              </div>
                              <div class="mb-3 col-md-12 my-0">
                                <label for="con-phone">Phone</label>
                                <div class="row">
                                  <div class="col-sm-6">
                                    <input class="form-control" id="con-phone" type="number" required=""
                                      autocomplete="off">
                                  </div>
                                  <div class="col-sm-6">
                                    <select class="form-control" id="con-select">
                                      <option>Mobile</option>
                                      <option>Work</option>
                                      <option>Others</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <input id="index_var" type="hidden" value="5">
                            <button class="btn btn-secondary" type="submit" onclick="submitContact()">Save</button>
                            <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Cancel</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav-item"><span class="main-title"> Views</span></li>
                <li><a id="pills-personal-tab" data-bs-toggle="pill" href="#pills-personal" role="tab"
                    aria-controls="pills-personal" aria-selected="true"><span class="title"> Managers</span></a></li>
                <li>
                  <button class="btn btn-category" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal1"><span class="title"> + Add Category</span></button>
                  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel1" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel1">Add Category</h5>
                          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form class="form-bookmark">
                            <div class="row g-2">
                              <div class="mb-3 col-md-12">
                                <input class="form-control" type="text" required="" placeholder="Enter category name"
                                  autocomplete="off">
                              </div>
                            </div>
                            <button class="btn btn-secondary" type="button">Save</button>
                            <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Cancel</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li><a class="show" id="pills-organization-tab" data-bs-toggle="pill" href="#pills-organization"
                    role="tab" aria-controls="pills-organization" aria-selected="false"><span class="title">
                      Top Management </span></a></li>
                <li><a href="#"><span class="title">Team</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>