<div class="tab-pane contact-tab-3 tab-content-child fade" id="v-pills-settings" role="tabpanel"
  aria-labelledby="v-pills-settings-tab">
  <div class="profile-mail">
    <div class="media"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_3"
        src="{{ url_for('static', filename='assets/images/user/14.png')}}" alt="">
      <input class="updateimg" type="file" name="img" onchange="readURL(this,3)">
      <div class="media-body mt-0">
        <h5> <span class="first_name_3">Andew </span><span class="last_name_3">Jon</span></h5>
        <p class="email_add_3">andewjon@gmail.com</p>
        <ul>
          <li><a href="#" onclick="editContact(3)">Edit</a></li>
          <li><a href="#" onclick="deleteContact(3)">Delete</a></li>
          <li><a href="#" onclick="history(3)">History</a></li>
          <li><a href="#" onclick="printContact(3)" data-bs-toggle="modal" data-bs-target="#printModal">Print</a></li>
        </ul>
      </div>
    </div>
    <div class="email-general">
      <h6 class="mb-3">General</h6>
      <ul>
        <li>Name <span class="font-primary first_name_3">Andew</span></li>
        <li>Gender <span class="font-primary">Male</span></li>
        <li>Birthday<span class="font-primary"> <span class="birth_day_3">25</span><span
              class="birth_month_3 ms-1">Aug</span><span class="birth_year_3 ms-1">1996</span></span></li>
        <li>Job Title<span class="font-primary personality_3">Manager</span></li>
        <li>City<span class="font-primary city_3">Amreli</span></li>
        <li>Mobile No<span class="font-primary mobile_num_3">+0 1800 79877</span></li>
        <li>Email Address <span class="font-primary email_add_3">andewjon@gmail.com</span></li>
        <li>Interest<span class="font-primary interest_3">photography</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="tab-pane contact-tab-4 tab-content-child fade" id="v-pills-contact1" role="tabpanel"
  aria-labelledby="v-pills-contact1-tab">
  <div class="profile-mail">
    <div class="media"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_4"
        src="{{ url_for('static', filename='assets/images/user/5.jpg')}}" alt="">
      <input class="updateimg" type="file" name="img" onchange="readURL(this,4)">
      <div class="media-body mt-0">
        <h5> <span class="first_name_4">Jason </span><span class="last_name_4">Borne</span></h5>
        <p class="email_add_4">jasonb@gmail.com</p>
        <ul>
          <li><a href="#" onclick="editContact(4)">Edit</a></li>
          <li><a href="#" onclick="deleteContact(4)">Delete</a></li>
          <li><a href="#" onclick="history(4)">History</a></li>
          <li><a href="#" onclick="printContact(4)" data-bs-toggle="modal" data-bs-target="#printModal">Print</a></li>
        </ul>
      </div>
    </div>
    <div class="email-general">
      <h6 class="mb-3">General</h6>
      <ul>
        <li>Name <span class="font-primary first_name_4">Jason</span></li>
        <li>Gender <span class="font-primary">Male</span></li>
        <li>Birthday<span class="font-primary"> <span class="birth_day_4">30</span><span
              class="birth_month_4 ms-1">Oct</span><span class="birth_year_4 ms-1">1992</span></span></li>
        <li>Job Title<span class="font-primary personality_4">Manager</span></li>
        <li>City<span class="font-primary city_4">Delhi</span></li>
        <li>Mobile No<span class="font-primary mobile_num_4">+0 1800 11547</span></li>
        <li>Email Address <span class="font-primary email_add_4">jasonb@gmail.com</span></li>
        <li>Interest<span class="font-primary interest_4">photography</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="tab-pane contact-tab-5 tab-content-child fade" id="v-pills-contact8" role="tabpanel"
  aria-labelledby="v-pills-contact1-tab">
  <div class="profile-mail">
    <div class="media"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_5"
        src="{{ url_for('static', filename='assets/images/avtar/11.jpg')}}" alt="">
      <input class="updateimg" type="file" name="img" onchange="readURL(this,5)">
      <div class="media-body mt-0">
        <h5> <span class="first_name_5">Monty </span><span class="last_name_5">Carlo</span></h5>
        <p class="email_add_5">monty@gmail.com</p>
        <ul>
          <li><a href="#" onclick="editContact(5)">Edit</a></li>
          <li><a href="#" onclick="deleteContact(5)">Delete</a></li>
          <li><a href="#" onclick="history(5)">History</a></li>
          <li><a href="#" onclick="printContact(5)" data-bs-toggle="modal" data-bs-target="#printModal">Print</a></li>
        </ul>
      </div>
    </div>
    <div class="email-general">
      <h6 class="mb-3">General</h6>
      <ul>
        <li>Name <span class="font-primary first_name_5">Monty</span></li>
        <li>Gender <span class="font-primary">Male</span></li>
        <li>Birthday<span class="font-primary"> <span class="birth_day_5">12</span><span
              class="birth_month_5 ms-1">Nov</span><span class="birth_year_5 ms-1">1994</span></span></li>
        <li>Job Title<span class="font-primary personality_5">Manager</span></li>
        <li>City<span class="font-primary city_5">Amreli</span></li>
        <li>Mobile No<span class="font-primary mobile_num_5">+0 1800 87944</span></li>
        <li>Email Address <span class="font-primary email_add_5">monty@gmail.com</span></li>
        <li>Interest<span class="font-primary interest_5">sports</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="tab-pane contact-tab-6 tab-content-child fade" id="v-pills-contact9" role="tabpanel"
  aria-labelledby="v-pills-contact8-tab">
  <div class="profile-mail">
    <div class="media"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_6"
        src="{{ url_for('static', filename='assets/images/avtar/16.jpg')}}" alt="">
      <input class="updateimg" type="file" name="img" onchange="readURL(this,6)">
      <div class="media-body mt-0">
        <h5> <span class="first_name_6">Brock </span><span class="last_name_6">Lee</span></h5>
        <p class="email_add_6">lee@gmail.com</p>
        <ul>
          <li><a href="#" onclick="editContact(6)">Edit</a></li>
          <li><a href="#" onclick="deleteContact(6)">Delete</a></li>
          <li><a href="#" onclick="history(6)">History</a></li>
          <li><a href="#" onclick="printContact(6)" data-bs-toggle="modal" data-bs-target="#printModal">Print</a></li>
        </ul>
      </div>
    </div>
    <div class="email-general">
      <h6 class="mb-3">General</h6>
      <ul>
        <li>Name <span class="font-primary first_name_6">Brock</span></li>
        <li>Gender <span class="font-primary">Male</span></li>
        <li>Birthday<span class="font-primary"> <span class="birth_day_6">8</span><span
              class="birth_month_6 ms-1">Dec</span><span class="birth_year_6 ms-1">1992</span></span></li>
        <li>Job Title<span class="font-primary personality_6">Manager</span></li>
        <li>City<span class="font-primary city_6">Ahemdabad</span></li>
        <li>Mobile No<span class="font-primary mobile_num_6">+0 1800 58712</span></li>
        <li>Email Address <span class="font-primary email_add_6">lee@gmail.com</span></li>
        <li>Interest<span class="font-primary interest_6">photography </span></li>
      </ul>
    </div>
  </div>
</div>
</div>