{% extends 'base.html' %}




{% block css %}
<!-- Plugins css start-->

<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
  <div class="container-fluid">
    {% include "layout/breadcrumb.html" %}
    <div class="row">
      {% include "general/dashboard/social/components/top.html" %}
      {% include "general/dashboard/social/components/bottom.html" %}


    </div>
  </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->


<script src="{{ url_for('static', filename='assets/js/chart/apex-chart/apex-chart.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/chart/apex-chart/stock-prices.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/dashboard/dashboard_5.js')}}"></script>
<!-- Plugins JS Ends-->
{% endblock %}