<div class="row">
  <!-- Individual column searching (text inputs) Starts-->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>List of all requested and issued visas</h5><span>Complete database</span>
      </div>
      <div class="card-body">
        <div class="table-responsive product-table">
          <table class="display" id="basic-1">
            <thead>
              <tr>
                <th>Image</th>
                <th>Details</th>
                <th>Pilgrim</th>
                <th>Status</th>
                <th>Start date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img src="{{ url_for('static', filename='assets/images/ecommerce/product-table-1.png')}}" alt="">
                </td>
                <td>
                  <h6> Sebastian Michael </h6><span>This tourist goes to Saudi Arabia for a pilgrimage. Tourist visa requested</span>
                </td>
                <td>UMRAH</td>
                <td class="font-success">In process</td>
                <td>12.04.2024</td>
                <td>
                  <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Delete</button>
                  <button class="btn btn-success btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Edit</button>
                </td>
              </tr>
              <tr>
                <td><img src="{{ url_for('static', filename='assets/images/ecommerce/product-table-2.png')}}" alt="">
                </td>
                <td>
                  <h6> Brooks Weston </h6>
                  <p>This tourist goes to Saudi Arabia for a pilgrimage. Tourist visa requested</p>
                </td>
                <td>HAJJ</td>
                <td class="font-primary">Done</td>
                <td>2011/04/25</td>
                <td>
                  <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Delete</button>
                  <button class="btn btn-success btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Edit</button>
                </td>
              </tr>
              <tr>
                <td><img src="{{ url_for('static', filename='assets/images/ecommerce/product-table-3.png')}}" alt="">
                </td>
                <td>
                  <h6>William Mateo</h6>
                  <p>This tourist goes to Saudi Arabia for a pilgrimage. Tourist visa requested</p>
                </td>
                <td>HAJJ</td>
                <td class="font-danger">Denied</td>
                <td>2011/04/25</td>
                <td>
                  <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Delete</button>
                  <button class="btn btn-success btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Edit</button>
                </td>
              </tr>
              <tr>
                <td><img src="{{ url_for('static', filename='assets/images/ecommerce/product-table-4.png')}}" alt="">
                </td>
                <td>
                  <h6>Cyclamen</h6>
                  <p>This tourist goes to Saudi Arabia for a pilgrimage. Tourist visa requested</p>
                </td>
                <td>UMRAH</td>
                <td class="font-primary">Done</td>
                <td>2011/04/25</td>
                <td>
                  <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Delete</button>
                  <button class="btn btn-success btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Edit</button>
                </td>
              </tr>
              <tr>
                <td><img src="{{ url_for('static', filename='assets/images/ecommerce/product-table-5.png')}}" alt="">
                </td>
                <td>
                  <h6>Alexander Owen </h6>
                  <p>This tourist goes to Saudi Arabia for a pilgrimage. Tourist visa requested</p>
                </td>
                <td>HAJJ</td>
                <td class="font-success">In process</td>
                <td>2011/04/25</td>
                <td>
                  <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Delete</button>
                  <button class="btn btn-success btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Edit</button>
                </td>
              </tr>
              <tr>
                <td><img src="{{ url_for('static', filename='assets/images/ecommerce/product-table-3.png')}}" alt="">
                </td>
                <td>
                  <h6> Nathan Kai</h6>
                  <p>This tourist goes to Saudi Arabia for a pilgrimage. Tourist visa requested</p>
                </td>
                <td>HAJJ</td>
                <td class="font-primary">Done</td>
                <td>2011/04/25</td>
                <td>
                  <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Delete</button>
                  <button class="btn btn-success btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Edit</button>
                </td>
              </tr>
              <tr>
                <td><img src="{{ url_for('static', filename='assets/images/ecommerce/product-table-1.png')}}" alt="">
                </td>
                <td>
                  <h6> Leo Ezra </h6>
                  <p>This tourist goes to Saudi Arabia for a pilgrimage. Tourist visa requested</p>
                </td>
                <td>HAJJ</td>
                <td class="font-success">In process</td>
                <td>2011/04/25</td>
                <td>
                  <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Delete</button>
                  <button class="btn btn-success btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Edit</button>
                </td>
              </tr>
              <tr>
                <td><img src="{{ url_for('static', filename='assets/images/ecommerce/product-table-2.png')}}" alt="">
                </td>
                <td>
                  <h6> Luca Gabriel </h6>
                  <p>Saudi Arabia Pilgrim Tourist Visa</p>
                </td>
                <td>UMRAH</td>
                <td class="font-danger">Denied</td>
                <td>2011/04/25</td>
                <td>
                  <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Delete</button>
                  <button class="btn btn-success btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Edit</button>
                </td>
              </tr>
              <tr>
                <td><img src="{{ url_for('static', filename='assets/images/ecommerce/product-table-3.png')}}" alt="">
                </td>
                <td>
                  <h6> Anthony Carter</h6>
                  <p>This tourist goes to Saudi Arabia for a pilgrimage. Tourist visa requested</p>
                </td>
                <td>HAJJ</td>
                <td class="font-success">In process</td>
                <td>2011/04/25</td>
                <td>
                  <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Delete</button>
                  <button class="btn btn-success btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Edit</button>
                </td>
              </tr>
              <tr>
                <td><img src="{{ url_for('static', filename='assets/images/ecommerce/product-table-4.png')}}" alt="">
                </td>
                <td>
                  <h6> Santiago Charles</h6>
                  <p>This tourist goes to Saudi Arabia for a pilgrimage. Tourist visa requested</p>
                </td>
                <td>UMRAH</td>
                <td class="font-danger">Denied</td>
                <td>2011/04/25</td>
                <td>
                  <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Delete</button>
                  <button class="btn btn-success btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                    title="">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Individual column searching (text inputs) Ends-->
</div>