<div class="col-md-12 project-list">
  <div class="card">
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
          <li class="nav-item"><a class="nav-link active" id="top-home-tab" data-bs-toggle="tab" href="#top-home"
              role="tab" aria-controls="top-home" aria-selected="true"><i data-feather="target"></i>All</a></li>

          <li class="nav-item"><a class="nav-link" id="booked-top-tab" data-bs-toggle="tab" href="#top-booked"
              role="tab" aria-controls="top-booked" aria-selected="false"><i data-feather="info"></i>Booked</a></li>

          <li class="nav-item"><a class="nav-link" id="profile-top-tab" data-bs-toggle="tab" href="#top-profile"
              role="tab" aria-controls="top-profile" aria-selected="false"><i data-feather="info"></i>Progress</a></li>
          <li class="nav-item"><a class="nav-link" id="contact-top-tab" data-bs-toggle="tab" href="#top-contact"
              role="tab" aria-controls="top-contact" aria-selected="false"><i data-feather="check-circle"></i>Done</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>