{% extends 'base.html' %}




{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename=  'assets/css/vendors/scrollbar.scss.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=  'assets/css/vendors/select2.scss.css')}}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename=  'assets/css/vendors/dropzone.scss.css')}}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename=  'assets/css/vendors/photoswipe.scss.css')}}">

<!-- Plugins css Ends-->
{% endblock %}

{% block content %}
<div class="page-body">

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    {% include "layout/breadcrumb.html" %}
    <div class="edit-profile">
      <div class="row">
        {% include "miscellaneous/blog/add-post/components/add-post.html" %}
        {% include "applications/hotels/settings-profile/components-new/right-section.html" %}
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
          <div class="col-xl-9 xl-60">
                <div class="row">
                      {% include "miscellaneous/learning/learning-list/components/learning-list-new.html" %}
                </div>
          </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<script src="{{ url_for('static', filename='assets/js/sidebar-menu.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/tooltip-init.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/editor/ckeditor/ckeditor.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/editor/ckeditor/adapters/jquery.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/dropzone/dropzone.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/dropzone/dropzone-script.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/select2/select2.full.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/select2/select2-custom.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/email-app.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/form-validation-custom.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/tooltip-init.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/photoswipe/photoswipe.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/photoswipe/photoswipe-ui-default.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/photoswipe/photoswipe.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/tooltip-init.js')}}"></script>

{% endblock scriptcontent %}