{% extends 'base.html' %}




{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'assets/css/vendors/date-picker.scss.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'assets/css/vendors/dropzone.scss.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=  'assets/css/vendors/mapsjs-ui.scss.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=  'assets/css/vendors/vector-map.scss.css')}}">

<!-- List Hotels -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=  'assets/css/vendors/select2.scss.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=  'assets/css/vendors/owlcarousel.scss.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=  'assets/css/vendors/range-slider.scss.css')}}">

<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
  <div class="container-fluid product-wrapper">
    {% include "layout/breadcrumb.html" %}
    {% include "applications/projects/projectcreate/components/project-title.html" %}
    <!-- List Hotels start -->
    {% include "applications/ecommerce/product/components/filters.html" %}
    {% include "applications/ecommerce/product/components/product-1.html" %}
    <!-- List Hotels stop-->
  </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{{ url_for('static', filename='assets/js/dropzone/dropzone.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/dropzone/dropzone-script.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/tooltip-init.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/datepicker/date-picker/datepicker.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/datepicker/date-picker/datepicker.en.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/datepicker/date-picker/datepicker.custom.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/map-js/mapsjs-core.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/map-js/mapsjs-service.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/map-js/mapsjs-ui.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/map-js/mapsjs-mapevents.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/map-js/custom.js')}}"></script>

<script src="{{ url_for('static', filename='assets/js/vector-map/jquery-jvectormap-2.0.2.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/vector-map/map/jquery-jvectormap-world-mill-en.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/vector-map/map/jquery-jvectormap-us-aea-en.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/vector-map/map/jquery-jvectormap-uk-mill-en.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/vector-map/map/jquery-jvectormap-au-mill.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/vector-map/map/jquery-jvectormap-chicago-mill-en.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/vector-map/map/jquery-jvectormap-in-mill.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/vector-map/map/jquery-jvectormap-asia-mill.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/vector-map/map-vector.js')}}"></script>
<!-- Plugins JS Ends-->
<!-- List Hotels start-->
<script src="{{ url_for('static', filename='assets/js/range-slider/ion.rangeSlider.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/range-slider/rangeslider-script.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/touchspin/vendors.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/touchspin/touchspin.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/touchspin/input-groups.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/owlcarousel/owl.carousel.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/select2/select2.full.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/select2/select2-custom.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/tooltip-init.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/product-tab.js')}}"></script>
<!-- List Hotels stop-->
{% endblock %}