
<div class="row">
    <!-- Live Product chart widget Start-->
    <div class="xl-50 col-xl-7 col-lg-12">
      <div class="small-chart-widget chart-widgets-small">
        <div class="card">
          <div class="card-header">
            <h5>Live Products</h5>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <div class="row">
                <div class="col-12">
                  <div id="chart-widget6"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Live Product chart widget Ends-->
    <!-- Turnover chart widget Start-->
    <div class="xl-50 col-xl-5 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h5>Turn over</h5>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <div class="row">
              <div class="col-12">
                <div id="chart-widget7"></div>
              </div>
            </div>
          </div>
          <div class="code-box-copy">
            <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head1" title="Copy"><i class="icofont icofont-copy-alt"></i></button>
            <pre><code class="language-html" id="example-head1">&lt;!-- Cod Box Copy begin --&gt;
&lt;div class="chart-container"&gt;
&lt;div class="row"&gt;
&lt;div class="col-12"&gt;
&lt;div id="chart-widget7"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;!-- Cod Box Copy end --&gt;</code></pre>
          </div>
        </div>
      </div>
    </div>
    <!-- Turnover chart widget Ends-->
    <!-- Crypto price chart Start-->
    <div class="xl-50 col-xl-6 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h5>Cryptocurrency Prices</h5>
        </div>
        <div class="card-body">
          <div class="chart-container crypto-chart">
            <div class="row">
              <div class="col-12">
                <div id="chart-crypto"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Crypto price chart end-->
    <div class="xl-50 col-xl-6 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h5>Crypto Annotations</h5>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <div class="row">
              <div class="col-12">
                <div id="crypto-annotation"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- small widgets Ends-->
    <!-- Browser uses and website visiter widget Start-->
  </div>