<div class="col-xl-12" xmlns="http://www.w3.org/1999/html">
    <form class="card">
        <div class="card-header">
            <h4 class="card-title mb-0">General</h4>
            <div class="card-options">
                <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse">
                    <i class="fe fe-chevron-up"></i>
                </a>
                <a class="card-options-remove" href="#" data-bs-toggle="card-remove">
                    <i class="fe fe-x"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="mb-3">
                        <label class="form-label">Hotel Name</label>
                        <input class="form-control" type="text" placeholder="Emaar Al Noor">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label class="form-label">City</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Makkah</option>
                            <option value="2">Medina</option>
                            <option value="3">Jeddah</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="mb-3">
                        <label class="form-label">Street</label>
                        <input class="form-control" type="text" placeholder="Aziziah Stree">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="mb-3">
                        <label class="form-label">House Number</label>
                        <input class="form-control" type="text" placeholder="5064">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="mb-3">
                        <label class="form-label">Telephone</label>
                        <input class="form-control" type="text" placeholder="(65) 8873 6500">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="mb-3">
                        <label class="form-label">Corp. email</label>
                        <input class="form-control" type="text" placeholder="info@emaaraldiyafa.com">
                    </div>
                </div>
                <br><br><br><br><br><br>
                <h6 class="card-title mb-0">Options</h6>
                <br><br>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Wifi Free</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Free Transfer</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Air Conditioner</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Cleaning</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Luggage storage</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Shop access</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Suitable for guests in wheelchairs</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Room service</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">24 hour front desk</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Shared lounge / living room with TV</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div>
                        <label class="form-label">About hotel</label>
                        <textarea class="form-control" rows="5" placeholder="Enter About your description">Located in Makkah, 4.1 km from Masjid Al Haram, Emaar Al Noor provides accommodation with free WiFi and free private parking. The property is situated 5.9 km from Hira Cave, 4 km from Zamzam Well and 8.2 km from Makkah Museum. Guests can enjoy city views.The hotel will provide guests with air-conditioned rooms offering a desk, a kettle, a fridge, a safety deposit box, a flat-screen TV and a private bathroom with a shower. At Emaar Al Noor each room is fitted with bed linen and towels. Assalamu Alaika Ayyuha Annabi is 8.7 km from the accommodation, while Jabal Thawr is 15 km away. The nearest airport is King Abdulaziz International Airport, 96 km from Emaar Al Noor.</textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>