{% extends 'base.html' %}




{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename=  'assets/css/vendors/datatables.scss.css')}}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename=  'assets/css/vendors/datatable-extension.scss.css')}}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
      <div class="container-fluid">
            {% include "layout/breadcrumb.html" %}
            <div class="row">

                  {% include "forms-table/table/Ex-data-table/html-export/components/export-buttons.html" %}
                  {% include "forms-table/table/Ex-data-table/html-export/components/column.html" %}
                  {% include "forms-table/table/Ex-data-table/html-export/components/excel.html" %}
                  {% include "forms-table/table/Ex-data-table/html-export/components/custom-file.html" %}
            </div>
      </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{{ url_for('static', filename='assets/js/datatable/datatables/jquery.dataTables.min.js')}}"></script>
<script
      src="{{ url_for('static', filename='assets/js/datatable/datatable-extension/dataTables.buttons.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/datatable/datatable-extension/jszip.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/datatable/datatable-extension/buttons.colVis.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/datatable/datatable-extension/pdfmake.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/datatable/datatable-extension/vfs_fonts.js')}}"></script>
<script
      src="{{ url_for('static', filename='assets/js/datatable/datatable-extension/dataTables.autoFill.min.js')}}"></script>
<script
      src="{{ url_for('static', filename='assets/js/datatable/datatable-extension/dataTables.select.min.js')}}"></script>
<script
      src="{{ url_for('static', filename='assets/js/datatable/datatable-extension/buttons.bootstrap4.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/datatable/datatable-extension/buttons.html5.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/datatable/datatable-extension/buttons.print.min.js')}}"></script>
<script
      src="{{ url_for('static', filename='assets/js/datatable/datatable-extension/dataTables.bootstrap4.min.js')}}"></script>
<script
      src="{{ url_for('static', filename='assets/js/datatable/datatable-extension/dataTables.responsive.min.js')}}"></script>
<script
      src="{{ url_for('static', filename='assets/js/datatable/datatable-extension/responsive.bootstrap4.min.js')}}"></script>
<script
      src="{{ url_for('static', filename='assets/js/datatable/datatable-extension/dataTables.keyTable.min.js')}}"></script>
<script
      src="{{ url_for('static', filename='assets/js/datatable/datatable-extension/dataTables.colReorder.min.js')}}"></script>
<script
      src="{{ url_for('static', filename='assets/js/datatable/datatable-extension/dataTables.fixedHeader.min.js')}}"></script>
<script
      src="{{ url_for('static', filename='assets/js/datatable/datatable-extension/dataTables.rowReorder.min.js')}}"></script>
<script
      src="{{ url_for('static', filename='assets/js/datatable/datatable-extension/dataTables.scroller.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/datatable/datatable-extension/custom.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/tooltip-init.js')}}"></script>
<!-- Plugins JS Ends-->
{% endblock %}