<div class="product-wrapper-grid">
<div class="row">
<div class="col-xl-3 col-sm-6 xl-4">
  <div class="card">
    <div class="product-box">
      <div class="product-img"><img class="img-fluid"
          src="{{ url_for('static', filename='assets/images/ecommerce/01.jpg')}}" alt="">
        <div class="product-hover">
          <ul>
            <li>
              <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
            </li>
            <li>
              <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"><i
                  class="icon-eye"></i></button>
            </li>
            <li>
              <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="product-img col-lg-6"><img class="img-fluid"
                    src="{{ url_for('static', filename='assets/images/ecommerce/01.jpg')}}" alt=""></div>
                <div class="product-details col-lg-6 text-start">
                  <h4>Woman T-shirt</h4>
                  <div class="product-price">$26.00
                    <del>$350.00 </del>
                  </div>
                  <div class="product-view">
                    <h6 class="f-w-600">Product Details</h6>
                    <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                  </div>
                  <div class="product-size">
                    <ul>
                      <li>
                        <button class="btn btn-outline-light" type="button">M</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">L</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">Xl</button>
                      </li>
                    </ul>
                  </div>
                  <div class="product-qnty">
                    <h6 class="f-w-600">Quantity</h6>
                    <fieldset>
                      <div class="input-group">
                        <input class="touchspin text-center" type="text" value="5">
                      </div>
                    </fieldset>
                    <div class="addcart-btn"><a class="btn btn-primary" href="cart.html">Add to Cart</a><a
                        class="btn btn-primary ms-2" href="product-page.html">View Details</a></div>
                  </div>
                </div>
              </div>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details">
        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
            class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
          <h4>Emaar Grand Hotel</h4>
        </a>
        <p>Makkah, Saudia Arabia</p>
        <div class="product-price">$26.00
          <del>$350.00 </del>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-sm-6 xl-4">
  <div class="card">
    <div class="product-box">
      <div class="product-img">
        <div class="ribbon ribbon-danger">Sale</div><img class="img-fluid"
          src="{{ url_for('static', filename='assets/images/ecommerce/02.jpg')}}" alt="">
        <div class="product-hover">
          <ul>
            <li>
              <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
            </li>
            <li>
              <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter1"><i
                  class="icon-eye"></i></button>
            </li>
            <li>
              <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="product-img col-lg-6"><img class="img-fluid"
                    src="{{ url_for('static', filename='assets/images/ecommerce/02.jpg')}}" alt=""></div>
                <div class="product-details col-lg-6 text-start">
                  <h4>Woman T-shirt</h4>
                  <div class="product-price">$26.00
                    <del>$350.00 </del>
                  </div>
                  <div class="product-view">
                    <h6 class="f-w-600">Product Details</h6>
                    <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                  </div>
                  <div class="product-size">
                    <ul>
                      <li>
                        <button class="btn btn-outline-light" type="button">M</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">L</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">Xl</button>
                      </li>
                    </ul>
                  </div>
                  <div class="product-qnty">
                    <h6 class="f-w-600">Quantity</h6>
                    <fieldset>
                      <div class="input-group">
                        <input class="touchspin text-center" type="text" value="5">
                      </div>
                    </fieldset>
                    <div class="addcart-btn"><a class="btn btn-primary" href="cart.html">Add to Cart</a><a
                        class="btn btn-primary ms-2" href="product-page.html">View Details</a></div>
                  </div>
                </div>
              </div>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details">
        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
            class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="product-page.html">
          <h4>Emaar Grand Hotel</h4>
        </a>
        <p>Makkah, Saudia Arabia</p>
        <div class="product-price">$26.00
          <del>$350.00 </del>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-sm-6 xl-4">
  <div class="card">
    <div class="product-box">
      <div class="product-img"><img class="img-fluid"
          src="{{ url_for('static', filename='assets/images/ecommerce/03.jpg')}}" alt="">
        <div class="product-hover">
          <ul>
            <li>
              <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
            </li>
            <li>
              <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter2"><i
                  class="icon-eye"></i></button>
            </li>
            <li>
              <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter2"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="product-img col-lg-6"><img class="img-fluid"
                    src="{{ url_for('static', filename='assets/images/ecommerce/03.jpg')}}" alt=""></div>
                <div class="product-details col-lg-6 text-start">
                  <h4>Woman T-shirt</h4>
                  <div class="product-price">$26.00
                    <del>$350.00 </del>
                  </div>
                  <div class="product-view">
                    <h6 class="f-w-600">Product Details</h6>
                    <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                  </div>
                  <div class="product-size">
                    <ul>
                      <li>
                        <button class="btn btn-outline-light" type="button">M</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">L</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">Xl</button>
                      </li>
                    </ul>
                  </div>
                  <div class="product-qnty">
                    <h6 class="f-w-600">Quantity</h6>
                    <fieldset>
                      <div class="input-group">
                        <input class="touchspin text-center" type="text" value="5">
                      </div>
                    </fieldset>
                    <div class="addcart-btn"><a class="btn btn-primary" href="cart.html">Add to Cart</a><a
                        class="btn btn-primary ms-2" href="product-page.html">View Details</a></div>
                  </div>
                </div>
              </div>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details">
        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
            class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="product-page.html">
          <h4>Emaar Grand Hotel</h4>
        </a>
        <p>Makkah, Saudia Arabia</p>
        <div class="product-price">$26.00
          <del>$350.00 </del>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-sm-6 xl-4">
  <div class="card">
    <div class="product-box">
      <div class="product-img">
        <div class="ribbon ribbon-success ribbon-right">50%</div><img class="img-fluid"
          src="{{ url_for('static', filename='assets/images/ecommerce/04.jpg')}}" alt="">
        <div class="product-hover">
          <ul>
            <li>
              <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
            </li>
            <li>
              <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter3"><i
                  class="icon-eye"></i></button>
            </li>
            <li>
              <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter3"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="product-img col-lg-6"><img class="img-fluid"
                    src="{{ url_for('static', filename='assets/images/ecommerce/04.jpg')}}" alt=""></div>
                <div class="product-details col-lg-6 text-start">
                  <h4>Woman T-shirt</h4>
                  <div class="product-price">$26.00
                    <del>$350.00 </del>
                  </div>
                  <div class="product-view">
                    <h6 class="f-w-600">Product Details</h6>
                    <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                  </div>
                  <div class="product-size">
                    <ul>
                      <li>
                        <button class="btn btn-outline-light" type="button">M</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">L</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">Xl</button>
                      </li>
                    </ul>
                  </div>
                  <div class="product-qnty">
                    <h6 class="f-w-600">Quantity</h6>
                    <fieldset>
                      <div class="input-group">
                        <input class="touchspin text-center" type="text" value="5">
                      </div>
                    </fieldset>
                    <div class="addcart-btn"><a class="btn btn-primary" href="cart.html">Add to Cart</a><a
                        class="btn btn-primary ms-2" href="product-page.html">View Details</a></div>
                  </div>
                </div>
              </div>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details">
        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
            class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="product-page.html">
          <h4>Emaar Grand Hotel</h4>
        </a>
        <p>Makkah, Saudia Arabia</p>
        <div class="product-price">$26.00
          <del>$350.00 </del>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-sm-6 xl-4">
  <div class="card">
    <div class="product-box">
      <div class="product-img"><img class="img-fluid"
          src="{{ url_for('static', filename='assets/images/ecommerce/02.jpg')}}" alt="">
        <div class="product-hover">
          <ul>
            <li>
              <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
            </li>
            <li>
              <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter4"><i
                  class="icon-eye"></i></button>
            </li>
            <li>
              <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter4"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="product-img col-lg-6"><img class="img-fluid"
                    src="{{ url_for('static', filename='assets/images/ecommerce/02.jpg')}}" alt=""></div>
                <div class="product-details col-lg-6 text-start">
                  <h4>Woman T-shirt</h4>
                  <div class="product-price">$26.00
                    <del>$350.00 </del>
                  </div>
                  <div class="product-view">
                    <h6 class="f-w-600">Product Details</h6>
                    <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                  </div>
                  <div class="product-size">
                    <ul>
                      <li>
                        <button class="btn btn-outline-light" type="button">M</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">L</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">Xl</button>
                      </li>
                    </ul>
                  </div>
                  <div class="product-qnty">
                    <h6 class="f-w-600">Quantity</h6>
                    <fieldset>
                      <div class="input-group">
                        <input class="touchspin text-center" type="text" value="5">
                      </div>
                    </fieldset>
                    <div class="addcart-btn"><a class="btn btn-primary" href="cart.html">Add to Cart</a><a
                        class="btn btn-primary ms-2" href="/product_page">View Details</a></div>
                  </div>
                </div>
              </div>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details">
        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
            class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
          <h4>Emaar Grand Hotel</h4>
        </a>
        <p>Makkah, Saudia Arabia</p>
        <div class="product-price">$26.00
          <del>$350.00 </del>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-sm-6 xl-4">
  <div class="card">
    <div class="product-box">
      <div class="ribbon ribbon-secondary ribbon-vertical-left"><i class="icon-gift"></i></div>
      <div class="product-img"><img class="img-fluid"
          src="{{ url_for('static', filename='assets/images/ecommerce/03.jpg')}}" alt="">
        <div class="product-hover">
          <ul>
            <li>
              <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
            </li>
            <li>
              <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter5"><i
                  class="icon-eye"></i></button>
            </li>
            <li>
              <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter5"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="product-box row">
                <div class="product-img col-lg-6"><img class="img-fluid"
                    src="{{ url_for('static', filename='assets/images/ecommerce/03.jpg')}}" alt=""></div>
                <div class="product-details col-lg-6 text-start">
                  <h4>Woman T-shirt</h4>
                  <div class="product-price">$26.00
                    <del>$350.00 </del>
                  </div>
                  <div class="product-view">
                    <h6 class="f-w-600">Product Details</h6>
                    <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                  </div>
                  <div class="product-size">
                    <ul>
                      <li>
                        <button class="btn btn-outline-light" type="button">M</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">L</button>
                      </li>
                      <li>
                        <button class="btn btn-outline-light" type="button">Xl</button>
                      </li>
                    </ul>
                  </div>
                  <div class="product-qnty">
                    <h6 class="f-w-600">Quantity</h6>
                    <fieldset>
                      <div class="input-group">
                        <input class="touchspin text-center" type="text" value="5">
                      </div>
                    </fieldset>
                    <div class="addcart-btn"><a class="btn btn-primary" href="cart.html">Add to Cart</a><a
                        class="btn btn-primary ms-2" href="product-page.html">View Details</a></div>
                  </div>
                </div>
              </div>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details">
        <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
            class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="product-page.html">
          <h4>Emaar Grand Hotel</h4>
        </a>
        <p>Makkah, Saudia Arabia</p>
        <div class="product-price">$26.00
          <del>$350.00 </del>
        </div>
      </div>
    </div>
  </div>
</div>