 <div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title mb-0">Last Update</h4>
            <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i
                        class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#"
                    data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
        </div>
        <div class="table-responsive add-project">
            <table class="table card-table table-vcenter text-nowrap">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Who changed</th>
                        <th>Price</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a class="text-inherit" href="#">Change Last Name </a></td>
                        <td>UmratourUserAdmin</td>
                        <td><span class="status-icon bg-success"></span> Completed</td>
                        <td>28 May 2024</td>
                    </tr>
                    <tr>
                        <td><a class="text-inherit" href="#">Change First Name</a></td>
                        <td>UmratourUserAdmin</td>
                        <td><span class="status-icon bg-danger"></span> On going</td>
                        <td>12 June 2024</td>
                    </tr>
                    <tr>
                        <td><a class="text-inherit" href="#">Change Email</a></td>
                        <td>UmratourUserAdmin</td>
                        <td><span class="status-icon bg-warning"></span> Pending</td>
                        <td>12 July 2024</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>