 <div class="col-sm-7">
    <div class="card">
      <div class="card-body">
        <div class="row my-gallery gallery" id="aniimated-thumbnials" itemscope="">
          <figure class="col-md-3 col-6 img-hover hover-1" itemprop="associatedMedia" itemscope=""><a
              href="{{ url_for('static', filename='assets/images/big-lightgallry/1.png')}}" itemprop="contentUrl"
              data-size="1600x950">
              <div><img src="{{ url_for('static', filename='assets/images/lightgallry/1.png')}}" itemprop="thumbnail"
                  alt="Image description">
              </div>
            </a>
            <figcaption itemprop="caption description">Image caption 1</figcaption>
          </figure>
          <figure class="col-md-3 col-6 img-hover hover-1" itemprop="associatedMedia" itemscope=""><a
              href="{{ url_for('static', filename='assets/images/big-lightgallry/2.jpg')}}" itemprop="contentUrl"
              data-size="1600x950">
              <div><img src="{{ url_for('static', filename='assets/images/lightgallry/2.jpg')}}" itemprop="thumbnail"
                  alt="Image description">
              </div>
            </a>
            <figcaption itemprop="caption description">Image caption 2</figcaption>
          </figure>
          <figure class="col-md-3 col-6 img-hover hover-1" itemprop="associatedMedia" itemscope=""><a
              href="{{ url_for('static', filename='assets/images/big-lightgallry/3.jpg')}}" itemprop="contentUrl"
              data-size="1600x950">
              <div><img src="{{ url_for('static', filename='assets/images/lightgallry/3.jpg')}}" itemprop="thumbnail"
                  alt="Image description"></div>
            </a>
            <figcaption itemprop="caption description">Image caption 3</figcaption>
          </figure>
          <figure class="col-md-3 col-6 img-hover hover-1" itemprop="associatedMedia" itemscope=""><a
              href="{{ url_for('static', filename='assets/images/big-lightgallry/4.jpeg')}}" itemprop="contentUrl"
              data-size="1600x950">
              <div><img src="{{ url_for('static', filename='assets/images/lightgallry/4.jpeg')}}" itemprop="thumbnail"
                  alt="Image description"></div>
            </a>
            <figcaption itemprop="caption description">Image caption 4</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>