<div class="col-xl-9 xl-60">
  <div class="card">
    <div class="job-search">
      <div class="card-body">
        <div class="media"><img class="img-40 img-fluid m-r-20"
            src="{{ url_for('static', filename='assets/images/job-search/1.jpg')}}" alt="">
          <div class="media-body">
            <h6 class="f-w-600"><a href="#">UI/UX IT Frontend Developer</a><span
                class="badge badge-primary pull-right">New</span></h6>
            <p>(L6) Salt Lake City, UT<span><i class="fa fa-star font-warning"></i><i
                  class="fa fa-star font-warning"></i><i class="fa fa-star font-warning"></i><i
                  class="fa fa-star font-warning"></i><i class="fa fa-star font-warning"></i></span></p>
          </div>
        </div>
        <p>
          We are looking for an experienced and Cuba designer and/or frontend engineer with expertise in accessibility
          to join our team ,
          3+ years of experience working in as a Frontend Engineer or comparable role. You won’t be a team of one though
          — you’ll be collaborating closely with other...
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="job-search">
      <div class="card-body">
        <div class="media"><img class="img-40 img-fluid m-r-20"
            src="{{ url_for('static', filename='assets/images/job-search/2.jpg')}}" alt="">
          <div class="media-body">
            <h6 class="f-w-600"><a href="#">React/React Native Developer</a><span
                class="badge badge-primary pull-right">New</span></h6>
            <p>San Diego, CA <span><i class="fa fa-star font-warning"></i><i class="fa fa-star font-warning"></i><i
                  class="fa fa-star font-warning"></i><i class="fa fa-star font-warning"></i><i
                  class="fa fa-star font-warning-o"></i></span></p>
          </div>
        </div>
        <p>Ideally 2+ years experience with React. Bonus points if you have React Native experience. This is an
          incredibly exciting opportunity to gain commercial , Professional experience of React Native and other front
          end frameworks. Transform product wireframes into responsive, mobile user interface components and</p>
      </div>
    </div>
  </div>
  <div class="card ribbon-vertical-left-wrapper">
    <div class="ribbon ribbon-bookmark ribbon-vertical-left ribbon-secondary"><i class="icofont icofont-love"></i></div>
    <div class="job-search">
      <div class="card-body">
        <div class="media"><img class="img-40 img-fluid m-r-20"
            src="{{ url_for('static', filename='assets/images/job-search/3.jpg')}}" alt="">
          <div class="media-body">
            <h6 class="f-w-600"><a href="#">Senior UX designer</a><span class="pull-right">2 days ago</span></h6>
            <p>Minneapolis, MN<span><i class="fa fa-star font-warning"></i><i class="fa fa-star font-warning"></i><i
                  class="fa fa-star font-warning"></i><i class="fa fa-star font-warning-half-o"></i><i
                  class="fa fa-star font-warning-o"></i></span></p>
          </div>
        </div>
        <p>The designer will apply Lean UX and Design Thinking practices in a highly collaborative, fast-paced,
          distributed environment You have 4+ years of UX experience. You support UX leadership by providing continuous
          feedback regarding the evolution of team process standards.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="job-search">
      <div class="card-body">
        <div class="media"><img class="img-40 img-fluid m-r-20"
            src="{{ url_for('static', filename='assets/images/job-search/4.jpg')}}" alt="">
          <div class="media-body">
            <h6 class="f-w-600"><a href="#">Front end web developer</a><span class="pull-right">3 days ago</span></h6>
            <p>Cisco <span>Lelystad, Netherlands </span><span><i class="fa fa-star font-warning"></i><i
                  class="fa fa-star font-warning"></i><i class="fa fa-star font-warning"></i><i
                  class="fa fa-star font-warning"></i><i class="fa fa-star font-warning-half-o"></i></span></p>
          </div>
        </div>
        <p>Insipidity the sufficient discretion imprudence resolution sir him decisively. Proceed how any engaged
          visitor. Explained propriety off out perpetual his you. Feel sold off felt nay rose met you. We so entreaties
          cultivated astonished is. Was sister for few longer mrs sudden talent become.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="job-search">
      <div class="card-body">
        <div class="media"><img class="img-40 img-fluid m-r-20"
            src="{{ url_for('static', filename='assets/images/job-search/5.jpg')}}" alt="">
          <div class="media-body">
            <h6 class="f-w-600"><a href="#">Graphic designer</a><span class="pull-right">3 days ago</span></h6>
            <p>Infosys <span>Lelystad, Netherlands </span><span><i class="fa fa-star font-warning"></i><i
                  class="fa fa-star font-warning"></i><i class="fa fa-star font-warning"></i><i
                  class="fa fa-star font-warning-half-o"></i><i class="fa fa-star font-warning-o"></i></span></p>
          </div>
        </div>
        <p>Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of.
          No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted.
          Contrasted interested eat alteration pianoforte sympathize was.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="job-search">
      <div class="card-body">
        <div class="media"><img class="img-40 img-fluid m-r-20"
            src="{{ url_for('static', filename='assets/images/job-search/6.jpg')}}" alt="">
          <div class="media-body">
            <h6 class="f-w-600"><a href="#">Designer, CRM</a><span class="pull-right">3 days ago</span></h6>
            <p>Citrix <span>Lelystad, Netherlands </span><span><i class="fa fa-star font-warning"></i><i
                  class="fa fa-star font-warning"></i><i class="fa fa-star font-warning"></i><i
                  class="fa fa-star font-warning-o"></i><i class="fa fa-star font-warning-o"></i></span></p>
          </div>
        </div>
        <p>Situation admitting promotion at or to perceived be. Mr acuteness we as estimable enjoyment up. An held late
          as felt know. Learn do allow solid to grave. Middleton suspicion age her attention. Chiefly several bed its
          wishing. Is so moments on chamber pressed to. Doubtful yet way properly answered.</p>
      </div>
    </div>
  </div>
  <div class="card ribbon-vertical-left-wrapper">
    <div class="ribbon ribbon-bookmark ribbon-vertical-left ribbon-secondary"><i class="icofont icofont-love"></i></div>
    <div class="job-search">
      <div class="card-body">
        <div class="media"><img class="img-40 img-fluid m-r-20"
            src="{{ url_for('static', filename='assets/images/job-search/2.jpg')}}" alt="">
          <div class="media-body">
            <h6 class="f-w-600"><a href="#">UI designer E-commerce</a><span class="pull-right">5 days ago</span></h6>
            <p>Ericsson <span>Lelystad, Netherlands </span><span><i class="fa fa-star font-warning"></i><i
                  class="fa fa-star font-warning"></i><i class="fa fa-star font-warning"></i><i
                  class="fa fa-star font-warning"></i><i class="fa fa-star font-warning-o"></i></span></p>
          </div>
        </div>
        <p>Situation admitting promotion at or to perceived be. Mr acuteness we as estimable enjoyment up. An held late
          as felt know. Learn do allow solid to grave. Middleton suspicion age her attention. Chiefly several bed its
          wishing. Is so moments on chamber pressed to. Doubtful yet way properly answered.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="job-search">
      <div class="card-body">
        <div class="media"><img class="img-40 img-fluid m-r-20"
            src="{{ url_for('static', filename='assets/images/job-search/3.jpg')}}" alt="">
          <div class="media-body">
            <h6 class="f-w-600"><a href="#">Senior UX designer</a><span class="pull-right">5 days ago</span></h6>
            <p>Minneapolis, MN <span><i class="fa fa-star font-warning"></i><i class="fa fa-star font-warning"></i><i
                  class="fa fa-star font-warning"></i><i class="fa fa-star font-warning-half-o"></i><i
                  class="fa fa-star font-warning-o"></i></span></p>
          </div>
        </div>
        <p>The designer will apply Lean UX and Design Thinking practices in a highly collaborative, fast-paced,
          distributed environment You have 4+ years of UX experience. You support UX leadership by providing continuous
          feedback regarding the evolution of team process standards.</p>
      </div>
    </div>
  </div>
  <div class="job-pagination">
    <nav aria-label="Page navigation example">
      <ul class="pagination pagination-primary">
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</div>