{% extends 'base.html' %}




{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename=  'assets/css/vendors/photoswipe.scss.css')}}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
      <div class="container-fluid">
            {% include "miscellaneous/gallery/hover-effects/components/hover1-5.html" %}
      </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{{ url_for('static', filename='assets/js/photoswipe/photoswipe.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/photoswipe/photoswipe-ui-default.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/photoswipe/photoswipe.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/tooltip-init.js')}}"></script>
<!-- Plugins JS Ends-->
{% endblock %}