{% extends 'base.html' %}




{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename=  'assets/css/vendors/scrollbar.scss.css')}}">

<!-- Plugins css Ends-->
{% endblock %}

{% block content %}
<div class="page-body">

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    {% include "layout/breadcrumb.html" %}
    <div class="edit-profile">
      <div class="row">
        {% include "applications/settings/settings-profile/components/left-sidebar.html" %}
        {% include "applications/settings/settings-profile/components/right-section.html" %}
        {% include "applications/settings/settings-profile/components/bottom-section.html" %}

      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<script src="{{ url_for('static', filename='assets/js/sidebar-menu.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/tooltip-init.js')}}"></script>

{% endblock scriptcontent %}