<div class="card">
  <div class="card-header">
    <h5>All hotels on the map</h5><span>Choose the hotel marked on the map</span>
  </div>
  <div class="card-body">
    <div class="jvector-map-height" id="asia"></div>
  </div>
</div>