<div class="page-title">
  <div class="row">
    <div class="col-6">
    </div>
    <div class="col-6">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">
            <svg class="stroke-icon">
              <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-home"></use>
            </svg></a></li>
        <li class="breadcrumb-item">{{breadcrumb.parent}}</li>
        <li class="breadcrumb-item active">{{breadcrumb.child}}</li>
      </ol>
    </div>
  </div>
</div>