<!--&lt;!&ndash; footer start&ndash;&gt;-->
<!--<footer class="footer {{footer}}">-->
<!--  <div class="container-fluid">-->
<!--    <div class="row">-->
<!--      <div class="col-md-12 footer-copyright text-center">-->
<!--        <p class="mb-0">Copyright 2023 ©</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->