<!-- Page Sidebar Start-->
<div class="sidebar-wrapper" sidebar-layout="stroke-svg">
  <div>
    <div class="logo-wrapper">
        <a href="/dashboard"><img class="img-fluid for-light" src="{{ url_for('static', filename='assets/images/logo/logo.png')}}" alt=""></a>
      <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
    </div>
    <div class="logo-icon-wrapper"><a href="/"><img class="img-fluid"
          src="{{ url_for('static', filename='assets/images/logo/logo-icon.png')}}" alt=""></a></div>
    <nav class="sidebar-main">
      <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
        <ul class="sidebar-links" id="simple-bar">
            <li class="back-btn"><a href="/"><img class="img-fluid" src="{{ url_for('static', filename='assets/images/logo/logo-icon.png')}}" alt=""></a>
                <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i>
                </div>
            </li>

            <li class="sidebar-main-title">
                <div>
                    <h6 class="lan-1">General</h6>
                </div>
            </li>

            <li class="sidebar-list">
                <a class="sidebar-link sidebar-title link-nav" href="/dashboard">
                    <svg class="stroke-icon">
                        <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-home"></use>
                    </svg>
                    <svg class="fill-icon">
                        <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-home"></use>
                    </svg><span>Dashboard</span></a>
            </li>

            <li class="sidebar-list">
                <a class="sidebar-link sidebar-title link-nav" href="/bookings">
                    <svg class="stroke-icon">
                        <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-project"></use>
                    </svg>
                    <svg class="fill-icon">
                        <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-project"></use>
                    </svg><span>Bookings</span>
                </a>
            </li>

            <li class="sidebar-list">
                <a class="sidebar-link sidebar-title link-nav" href="/hotels">
                  <svg class="stroke-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-bookmark"></use>
                  </svg>
                  <svg class="fill-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-bookmark"></use>
                  </svg><span>Hotels</span>
                </a>
            </li>

            <li class="sidebar-list">
                <a class="sidebar-link sidebar-title link-nav" href="/staff">
                  <svg class="stroke-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-contact"></use>
                  </svg>
                  <svg class="fill-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-contact"> </use>
                  </svg><span>Staff</span>
                </a>
            </li>

            <li class="sidebar-list">
                <a class="sidebar-link sidebar-title link-nav" href="/list_products">
                    <svg class="stroke-icon">
                        <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-button"></use>
                    </svg>
                    <svg class="fill-icon">
                        <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-button"></use>
                    </svg><span>Visa Saudi</span>
                </a>
            </li>
            <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/guests">
                <svg class="stroke-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-support-tickets"></use>
                </svg>
                <svg class="fill-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-support-tickets"></use>
                </svg><span>Guests</span></a></li>

            <li class="sidebar-main-title">
                <div>
                    <h6 class="lan-8">Other</h6>
                </div>
            </li>

            <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/settings">
                <svg class="stroke-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-project"></use>
                </svg>
                <svg class="fill-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-project"></use>
                </svg><span>Settings</span></a>
            </li>

            <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="#">
                <svg class="stroke-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-chat"></use>
                </svg>
                <svg class="fill-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-chat"></use>
                </svg><span>Chat</span></a>
                <ul class="sidebar-submenu">
                    <li><a href="/chat_app">Chat App</a></li>
                </ul>
            </li>

            <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/FAQ">
                <svg class="stroke-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-faq"></use>
                </svg>
                <svg class="fill-icon">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-faq"></use>
                </svg><span>FAQ</span></a>
            </li>

<!--            <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/bookmark">-->
<!--                <svg class="stroke-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-bookmark"></use>-->
<!--                </svg>-->
<!--                <svg class="fill-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-bookmark"> </use>-->
<!--                </svg><span>Bookmarks</span></a></li>-->
<!--            <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="calendar_basic">-->
<!--                <svg class="stroke-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-calendar"></use>-->
<!--                </svg>-->
<!--                <svg class="fill-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-calender"></use>-->
<!--                </svg><span>Calendar</span></a></li>-->
<!--            <li class="sidebar-main-title">-->
<!--                <div>-->
<!--                    <h6>Forms & Table</h6>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">-->
<!--                <svg class="stroke-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-form"></use>-->
<!--                </svg>-->
<!--                <svg class="fill-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-form"> </use>-->
<!--                </svg><span>Forms</span></a>-->
<!--                <ul class="sidebar-submenu">-->
<!--                    <li><a class="submenu-title" href="#">Form Controls<span class="sub-arrow"><i-->
<!--                            class="fa fa-angle-right"></i></span></a>-->
<!--                        <ul class="nav-sub-childmenu submenu-content">-->
<!--                            <li><a href="/base_input">Base Inputs</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li><a class="submenu-title" href="#">Form Widgets<span class="sub-arrow"><i-->
<!--                            class="fa fa-angle-right"></i></span></a>-->
<!--                        <ul class="nav-sub-childmenu submenu-content">-->
<!--                            <li><a href="/datepicker">Datepicker</a></li>-->
<!--                            <li><a href="/datetimepicker">Datetimepicker</a></li>-->
<!--                            <li><a href="/daterangepicker">Daterangepicker</a></li>-->
<!--                            <li><a href="/switch">Switch</a></li>-->
<!--                            <li><a href="/typeahead">Typeahead</a></li>-->
<!--                            <li><a href="/clipboard">Clipboard</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li><a class="submenu-title" href="#">Form layout<span class="sub-arrow"><i-->
<!--                            class="fa fa-angle-right"></i></span></a>-->
<!--                        <ul class="nav-sub-childmenu submenu-content">-->
<!--                            <li><a href="/default_form">Default Forms</a></li>-->
<!--                            <li><a href="/form_wizard_two">Form Wizard 2</a></li>-->
<!--                            <li><a href="/form_wizard_three">Form Wizard 3</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">-->
<!--                <svg class="stroke-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-table"></use>-->
<!--                </svg>-->
<!--                <svg class="fill-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-table"></use>-->
<!--                </svg><span>Tables</span></a>-->
<!--                <ul class="sidebar-submenu">-->
<!--                    <li><a class="submenu-title" href="#">Bootstrap Tables<span class="sub-arrow"><i-->
<!--                            class="fa fa-angle-right"></i></span></a>-->
<!--                        <ul class="nav-sub-childmenu submenu-content">-->
<!--                            <li><a href="/basic_table">Basic Tables</a></li>-->
<!--                            <li><a href="/table_components">Table components</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li><a class="submenu-title" href="#">Data Tables<span class="sub-arrow"><i-->
<!--                            class="fa fa-angle-right"></i></span></a>-->
<!--                        <ul class="nav-sub-childmenu submenu-content">-->
<!--                            <li><a href="/datatable_basic_init">Basic Init</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li><a href="/ext_autofill">Ex. Data Tables</a></li>-->
<!--                    <li><a href="/jsgrid_table">Js Grid Table </a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="sidebar-main-title">-->
<!--                <div>-->
<!--                    <h6>Components</h6>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">-->
<!--                <svg class="stroke-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-ui-kits"></use>-->
<!--                </svg>-->
<!--                <svg class="fill-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-ui-kits"></use>-->
<!--                </svg><span>Ui Kits</span></a>-->
<!--                <ul class="sidebar-submenu">-->
<!--                    <li><a href="/typography">Typography</a></li>-->
<!--                    <li><a href="/avatars">Avatars</a></li>-->
<!--                    <li><a href="/helper">helper classes</a></li>-->
<!--                    <li><a href="/grid">Grid</a></li>-->
<!--                    <li><a href="/tagpill">Tag & pills</a></li>-->
<!--                    <li><a href="/progressbar">Progress</a></li>-->
<!--                    <li><a href="/modal">Modal</a></li>-->
<!--                    <li><a href="/alert">Alert</a></li>-->
<!--                    <li><a href="/popover">Popover</a></li>-->
<!--                    <li><a href="/tooltip">Tooltip</a></li>-->
<!--                    <li><a href="/spiners">Spinners</a></li>-->
<!--                    <li><a href="/dropdown">Dropdown</a></li>-->
<!--                    <li><a href="/accordion">Accordion</a></li>-->
<!--                    <li><a class="submenu-title" href="#">Tabs<span class="sub-arrow"><i-->
<!--                            class="fa fa-angle-right"></i></span></a>-->
<!--                        <ul class="nav-sub-childmenu submenu-content">-->
<!--                            <li><a href="bootstraptab">Bootstrap Tabs</a></li>-->
<!--                            <li><a href="linetab">Line Tabs</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li><a href="shadow">Shadow</a></li>-->
<!--                    <li><a href="lists">Lists</a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">-->
<!--                <svg class="stroke-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-bonus-kit"></use>-->
<!--                </svg>-->
<!--                <svg class="fill-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-bonus-kit"></use>-->
<!--                </svg><span>Bonus Ui</span></a>-->
<!--                <ul class="sidebar-submenu">-->
<!--                    <li><a href="/scrollable">Scrollable</a></li>-->
<!--                    <li><a href="/tree">Tree view</a></li>-->
<!--                    <li><a href="/bootstrapnotify">Bootstrap Notify</a></li>-->
<!--                    <li><a href="/rating">Rating</a></li>-->
<!--                    <li><a href="/dropzone">dropzone</a></li>-->
<!--                    <li><a href="/tour">Tour</a></li>-->
<!--                    <li><a href="/sweetalert2">SweetAlert2</a></li>-->
<!--                    <li><a href="/animatedmodal">Animated Modal</a></li>-->
<!--                    <li><a href="/owlcarousel">Owl Carousel</a></li>-->
<!--                    <li><a href="/ribbons">Ribbons</a></li>-->
<!--                    <li><a href="/pagination">Pagination</a></li>-->
<!--                    <li><a href="/breadcrumb">Breadcrumb</a></li>-->
<!--                    <li><a href="/rangeslider">Range Slider</a></li>-->
<!--                    <li><a href="/imagecropper">Image cropper</a></li>-->
<!--                    <li><a href="/sticky">Sticky</a></li>-->
<!--                    <li><a href="/basiccard">Basic Card</a></li>-->
<!--                    <li><a href="/creativecard">Creative Card</a></li>-->
<!--                    <li><a href="/tabbedcard">Tabbed Card</a></li>-->
<!--                    <li><a href="/draggablecard">Draggable Card</a></li>-->
<!--                    <li><a class="submenu-title" href="#">Timeline<span class="sub-arrow"><i-->
<!--                            class="fa fa-angle-right"></i></span></a>-->
<!--                        <ul class="nav-sub-childmenu submenu-content">-->
<!--                            <li><a href="/timeline1">Timeline 1</a></li>-->
<!--                            <li><a href="/timeline2">Timeline 2</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">-->
<!--                <svg class="stroke-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-builders"></use>-->
<!--                </svg>-->
<!--                <svg class="fill-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-builders"></use>-->
<!--                </svg><span>Builders</span></a>-->
<!--                <ul class="sidebar-submenu">-->
<!--                    <li><a href="/formbuilder1"> Form Builder 1</a></li>-->
<!--                    <li><a href="/formbuilder2"> Form Builder 2</a></li>-->
<!--                    <li><a href="/pagebuild">Page Builder</a></li>-->
<!--                    <li><a href="/buttonbuilder">Button Builder</a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">-->
<!--                <svg class="stroke-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-animation"></use>-->
<!--                </svg>-->
<!--                <svg class="fill-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-animation"></use>-->
<!--                </svg><span>Animation</span></a>-->
<!--                <ul class="sidebar-submenu">-->
<!--                    <li><a href="/animate">Animate</a></li>-->
<!--                    <li><a href="/scrollreval">Scroll Reveal</a></li>-->
<!--                    <li><a href="/AOS">AOS animation</a></li>-->
<!--                    <li><a href="/tilt">Tilt Animation</a></li>-->
<!--                    <li><a href="/wow">Wow Animation</a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">-->
<!--                <svg class="stroke-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-icons"></use>-->
<!--                </svg>-->
<!--                <svg class="fill-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-icons"></use>-->
<!--                </svg><span>Icons</span></a>-->
<!--                <ul class="sidebar-submenu">-->
<!--                    <li><a href="/flagicon">Flag icon</a></li>-->
<!--                    <li><a href="/fontawesome">Fontawesome Icon</a></li>-->
<!--                    <li><a href="/icoicon">Ico Icon</a></li>-->
<!--                    <li><a href="/themify">Themify Icon</a></li>-->
<!--                    <li><a href="/feather">Feather icon</a></li>-->
<!--                    <li><a href="/whether">Whether Icon</a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">-->
<!--                <svg class="stroke-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-button"></use>-->
<!--                </svg>-->
<!--                <svg class="fill-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-botton"></use>-->
<!--                </svg><span>Buttons</span></a>-->
<!--                <ul class="sidebar-submenu">-->
<!--                    <li><a href="/buttons">Default Style</a></li>-->
<!--                    <li><a href="/flat">Flat Style</a></li>-->
<!--                    <li><a href="/edge">Edge Style</a></li>-->
<!--                    <li><a href="/raised">Raised Style</a></li>-->
<!--                    <li><a href="/group">Button Group</a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">-->
<!--                <svg class="stroke-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-charts"></use>-->
<!--                </svg>-->
<!--                <svg class="fill-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-charts"></use>-->
<!--                </svg><span>Charts</span></a>-->
<!--                <ul class="sidebar-submenu">-->
<!--                    <li><a href="/echarts">Echarts</a></li>-->
<!--                    <li><a href="/apex">Apex Chart</a></li>-->
<!--                    <li><a href="/google">Google Chart</a></li>-->
<!--                    <li><a href="/sparkline">Sparkline chart</a></li>-->
<!--                    <li><a href="/flot">Flot Chart</a></li>-->
<!--                    <li><a href="/knob">Knob Chart</a></li>-->
<!--                    <li><a href="/morris">Morris Chart</a></li>-->
<!--                    <li><a href="/chartjs">Chatjs Chart</a></li>-->
<!--                    <li><a href="/chartist">Chartist Chart</a></li>-->
<!--                    <li><a href="/peity">Peity Chart</a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="sidebar-main-title">-->
<!--                <div>-->
<!--                    <h6>Pages</h6>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/sample_page">-->
<!--                <svg class="stroke-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-sample-page"></use>-->
<!--                </svg>-->
<!--                <svg class="fill-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-sample-page"></use>-->
<!--                </svg><span>Sample page</span></a></li>-->
<!--            <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/internationalization">-->
<!--                <svg class="stroke-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-internationalization">-->
<!--                    </use>-->
<!--                </svg>-->
<!--                <svg class="fill-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-internationalization">-->
<!--                    </use>-->
<!--                </svg><span>Internationalization</span></a></li>-->
<!--            <li class="mega-menu"><a class="sidebar-link sidebar-title" href="#">-->
<!--                <svg class="stroke-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#stroke-others"></use>-->
<!--                </svg>-->
<!--                <svg class="fill-icon">-->
<!--                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#fill-others"></use>-->
<!--                </svg><span>Others</span></a>-->
<!--                <div class="mega-menu-container menu-content">-->
<!--                    <div class="container-fluid">-->
<!--                        <div class="row">-->
<!--                            <div class="col mega-box">-->
<!--                                <div class="link-section">-->
<!--                                    <div class="submenu-title">-->
<!--                                        <h5>Error Page</h5>-->
<!--                                    </div>-->
<!--                                    <ul class="submenu-content opensubmegamenu">-->
<!--                                        <li><a href="/error_400">Error 400</a></li>-->
<!--                                        <li><a href="/error_401">Error 401</a></li>-->
<!--                                        <li><a href="/error_403">Error 403</a></li>-->
<!--                                        <li><a href="/error_404">Error 404</a></li>-->
<!--                                        <li><a href="/error_500">Error 500</a></li>-->
<!--                                        <li><a href="/error_503">Error 503</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col mega-box">-->
<!--                                <div class="link-section">-->
<!--                                    <div class="submenu-title">-->
<!--                                        <h5> Authentication</h5>-->
<!--                                    </div>-->
<!--                                    <ul class="submenu-content opensubmegamenu">-->
<!--                                        <li><a href="/login_simple" target="_blank">Login Simple</a></li>-->
<!--                                        <li><a href="/login_one" target="_blank">Login with bg image</a></li>-->
<!--                                        <li><a href="/login_two" target="_blank">Login with image two </a></li>-->
<!--                                        <li><a href="/login_bs_validation" target="_blank">Login With validation</a></li>-->
<!--                                        <li><a href="/login_tt_validation" target="_blank">Login with tooltip</a></li>-->
<!--                                        <li><a href="/login_validation" target="_blank">Login with sweetalert</a></li>-->
<!--                                        <li><a href="/sign_up" target="_blank">Register Simple</a></li>-->
<!--                                        <li><a href="/sign_one" target="_blank">Register with Bg Image </a></li>-->
<!--                                        <li><a href="/sign_two" target="_blank">Register with image two</a></li>-->
<!--                                        <li><a href="/sign_wizard" target="_blank">Register wizard</a></li>-->
<!--                                        <li><a href="/unlock">Unlock User</a></li>-->
<!--                                        <li><a href="/forget_password">Forget Password</a></li>-->
<!--                                        <li><a href="/reset_password">Reset Password</a></li>-->
<!--                                        <li><a href="/maintenance">Maintenance</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col mega-box">-->
<!--                                <div class="link-section">-->
<!--                                    <div class="submenu-title">-->
<!--                                        <h5>Coming Soon</h5>-->
<!--                                    </div>-->
<!--                                    <ul class="submenu-content opensubmegamenu">-->
<!--                                        <li><a href="/comingsoon">Coming Simple</a></li>-->
<!--                                        <li><a href="/comingsoon_video">Coming with Bg video</a></li>-->
<!--                                        <li><a href="/comingsoon_img">Coming with Bg Image</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col mega-box">-->
<!--                                <div class="link-section">-->
<!--                                    <div class="submenu-title">-->
<!--                                        <h5>Email templates</h5>-->
<!--                                    </div>-->
<!--                                    <ul class="submenu-content opensubmegamenu">-->
<!--                                        <li><a href="/basic_temp">Basic Email</a></li>-->
<!--                                        <li><a href="/email_header">Basic With Header</a></li>-->
<!--                                        <li><a href="/template_email">Ecomerce Template</a></li>-->
<!--                                        <li><a href="/template_email_2">Email Template 2</a></li>-->
<!--                                        <li><a href="/ecommerce_temp">Ecommerce Email</a></li>-->
<!--                                        <li><a href="/email_order">Order Success</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->
    </nav>
  </div>
</div>
<!-- Page Sidebar Ends-->