{% extends 'base.html' %}




{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=  'assets/css/vendors/select2.scss.css')}}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename=  'assets/css/vendors/sweetalert2.scss.css')}}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
      <div class="container-fluid">
            {% include "layout/breadcrumb.html" %}

            {% include "applications/staff/components/contacts-1.html" %}
            {% include "applications/staff/components/contacts-2.html" %}
            {% include "applications/staff/components/contacts-3.html" %}
            {% include "applications/staff/components/contacts-4.html" %}
            {% include "applications/staff/components/contacts-5.html" %}
            {% include "applications/staff/components/contacts-6.html" %}

      </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{{ url_for('static', filename='assets/js/notify/bootstrap-notify.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/sweet-alert/sweetalert.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/select2/select2.full.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/select2/select2-custom.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/form-validation-custom.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/bookmark/jquery.validate.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/contacts/custom.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/tooltip-init.js')}}"></script>
<!-- Plugins JS Ends-->
{% endblock %}