<div class="col-xl-12" xmlns="http://www.w3.org/1999/html">
    <form class="card">
        <div class="card-header">
            <h4 class="card-title mb-0">General</h4>
            <div class="card-options">
                <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse">
                    <i class="fe fe-chevron-up"></i>
                </a>
                <a class="card-options-remove" href="#" data-bs-toggle="card-remove">
                    <i class="fe fe-x"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="mb-3">
                        <label class="form-label">Hotel Name</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label class="form-label">City</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Makkah</option>
                            <option value="2">Medina</option>
                            <option value="3">Jeddah</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="mb-3">
                        <label class="form-label">Street</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="mb-3">
                        <label class="form-label">House Number</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="mb-3">
                        <label class="form-label">Telephone</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="mb-3">
                        <label class="form-label">Corp. email</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                </div>
                <br><br><br><br><br><br>
                <h6 class="card-title mb-0">Options</h6>
                <br><br>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Wifi Free</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Free Transfer</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Air Conditioner</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Cleaning</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Luggage storage</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Shop access</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Suitable for guests in wheelchairs</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Room service</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">24 hour front desk</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Shared lounge / living room with TV</label>
                        <select class="form-control btn-square">
                            <option value="0">--Select--</option>
                            <option value="1">Available</option>
                            <option value="2">Absent</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div>
                        <label class="form-label">About hotel</label>
                        <textarea class="form-control" rows="5" placeholder="Enter About your description"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
</div>