<div class="col-xl-12">
  <div class="card">
    <div class="blog-box blog-list row">
      <div class="col-sm-4"><img class="img-fluid sm-100-w"
          src="{{ url_for('static', filename='assets/images/faq/5.jpg' )}}" alt=""></div>
      <div class="col-sm-7">
        <div class="blog-details">
          <div class="blog-date"><h5>New Number</h5></div>
          <h6 class="font-primary">Mark up a new room in your hotel!</h6>
          <div class="blog-bottom-content">
            <hr>
          </div>
        <div class="btn-showcase">
          <button class="btn btn-primary" type="submit">Add</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>