<div class="col-xl-12">
  <div class="card">
    <div class="blog-box blog-list row">
      <div class="col-sm-4"><img class="img-fluid sm-100-w"
          src="{{ url_for('static', filename='assets/images/faq/1.jpg' )}}" alt=""></div>
      <div class="col-sm-7">
        <div class="blog-details">
          <div class="blog-date"><h5>Twin/Double - RO (24m2)</h5></div>
          <h6 class="font-primary">Available</h6>
          <div class="blog-bottom-content">
            <hr>
            <p class="mt-0">Comfy beds,
This elegantly decorated, air-conditioned room offers a small seating area with a flat-screen TV and an electric kettle. The bathroom is fitted with a bath or a shower.
            </p>
          </div>
          <hr>
        <div class="btn-showcase">
          <input class="btn btn-light" type="reset" value="Hide">
          <button class="btn btn-primary" type="submit">Edit</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-12">
  <div class="card">
    <div class="blog-box blog-list row">
      <div class="col-sm-4"><img class="img-fluid sm-100-w"
          src="{{ url_for('static', filename='assets/images/faq/2.jpg' )}}" alt=""></div>
      <div class="col-sm-7">
        <div class="blog-details">
          <div class="blog-date"><h5>Triple - RO (34m2)</h5></div>
          <h6 class="font-primary">Available</h6>
          <div class="blog-bottom-content">
            <hr>
            <p class="mt-0">Comfy beds,
This elegantly decorated, air-conditioned room offers a small seating area with a flat-screen TV and an electric kettle. The bathroom is fitted with a bath or a shower.
            </p>
          </div>
          <hr>
        <div class="btn-showcase">
          <input class="btn btn-light" type="reset" value="Hide">
          <button class="btn btn-primary" type="submit">Edit</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-12">
  <div class="card">
    <div class="blog-box blog-list row">
      <div class="col-sm-4"><img class="img-fluid sm-100-w"
          src="{{ url_for('static', filename='assets/images/faq/5.jpg' )}}" alt=""></div>
      <div class="col-sm-7">
        <div class="blog-details">
          <div class="blog-date"><h5>New Number</h5></div>
          <h6 class="font-primary">Mark up a new room in your hotel!</h6>
          <div class="blog-bottom-content">
            <hr>
          </div>
        <div class="btn-showcase">
          <button class="btn btn-primary" type="submit">Add</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>