<div class="col-xl-6">
  <div class="card">
    <div class="card-header">
      <h5>Choose a hotel on the map</h5><span>Hotels with available rooms are marked on the map</span>
    </div>
    <div class="card-body">
      <div class="map-js-height" id="map1"></div>
    </div>
  </div>
</div>