<div class="col-xxl-5 col-md-12 appointment-sec box-col-6">
  <div class="appointment">
    <div class="card">
      <div class="card-header card-no-border">
        <div class="header-top">
          <h6 class="m-0">Last activity</h6>
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="appointment-table table-responsive">
          <table class="table table-bordernone">
            <tbody>
              <tr>
                <td><img class="img-fluid img-40 rounded-circle"
                    src="{{ url_for('static', filename='assets/images/dashboard/user/1.jpg')}}" alt="user"></td>
                <td class="img-content-box">Fatma Ulduz<span
                    class="f-light">10 minutes ago</span></td>
                <td class="text-end">
                  <p class="m-0 font-success">Settled pilgrims: 150</p>
                </td>
              </tr>
              <tr>
                <td><img class="img-fluid img-40 rounded-circle"
                    src="{{ url_for('static', filename='assets/images/dashboard/user/2.jpg')}}" alt="user"></td>
                <td class="img-content-box">Madina Alieva<span class="f-light">19 minutes ago</span></td>
                <td class="text-end">
                  <p class="m-0 font-success">Settled pilgrims: 89</p>
                </td>
              </tr>
              <tr>
                <td><img class="img-fluid img-40 rounded-circle"
                    src="{{ url_for('static', filename='assets/images/dashboard/user/3.jpg')}}" alt="user"></td>
                <td class="img-content-box">Issa Bell<span class="f-light">2 hours ago</span></td>
                <td class="text-end">
                  <p class="m-0 font-success">Settled pilgrims: 78</p>
                </td>
              </tr>
              <tr>
                <td><img class="img-fluid img-40 rounded-circle"
                    src="{{ url_for('static', filename='assets/images/dashboard/user/4.jpg')}}" alt="user"></td>
                <td class="img-content-box">Dzhamil Zaki<span class="f-light">8 hours ago</span></td>
                <td class="text-end">
                  <p class="m-0 font-success">Settled pilgrims: 55</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xxl-6 col-md-12 appointment-sec box-col-6">
  <div class="card">
    <div class="card-header card-no-border">
      <h6>Reservation Statistic</h6>
    </div>
    <div class="card-body pt-0">
      <div class="row m-0 overall-card overview-card">
        <div class="col-xl-12 col-md-8 col-sm-7 p-0 box-col-7">
          <div class="chart-right">
            <div class="row">
              <div class="col-xl-12">
                <div class="card-body p-0">
                  <ul class="balance-data">
                    <li><span class="circle bg-secondary"></span><span class="f-light ms-1">Check In</span></li>
                    <li><span class="circle bg-primary"> </span><span class="f-light ms-1">Check Out</span></li>
                    <li><span class="circle bg-success"> </span><span class="f-light ms-1">Schedule</span></li>
                  </ul>
                  <div class="current-sale-container order-container">
                    <div class="overview-wrapper" id="orderoverview"></div>
                    <div class="back-bar-container">
                      <div id="order-bar"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="col-xxl-4 col-md-6 box-col-6">-->
<!--  <div class="card">-->
<!--    <div class="card-header card-no-border">-->
<!--      <div class="header-top">-->
<!--        <h5 class="m-0">Timeline</h5>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card-body pt-0">-->
<!--      <div class="schedule-container">-->
<!--        <div id="schedulechart"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->