<div class="row widget-grid">
  <h4>Dashboard</h4>
  <br><br><br>
  <div class="col-xxl-auto col-xl-4 col-sm-4 box-col-4">
    <div class="row">
      <div class="col-xl-12">
        <div class="card widget-1">
          <div class="card-body">
            <div class="widget-content">
              <div class="widget-round secondary">
                <div class="bg-round">
                  <svg class="svg-fill">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#cart"> </use>
                  </svg>
                  <svg class="half-circle svg-fill">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#halfcircle"></use>
                  </svg>
                </div>
              </div>
              <div>
                <h4>3000</h4><span class="f-light">New Booking</span>
              </div>
            </div>
            <div class="font-secondary f-w-500"><i class="icon-arrow-up icon-rotate me-1"></i><span>+10%</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-auto col-xl-4 col-sm-4 box-col-4">
    <div class="row">
      <div class="col-xl-12">
        <div class="card widget-1">
          <div class="card-body">
            <div class="widget-content">
              <div class="widget-round warning">
                <div class="bg-round">
                  <svg class="svg-fill">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#return-box"> </use>
                  </svg>
                  <svg class="half-circle svg-fill">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#halfcircle"></use>
                  </svg>
                </div>
              </div>
              <div>
                <h4>550</h4><span class="f-light">Schedule</span>
              </div>
            </div>
            <div class="font-warning f-w-500"><i class="icon-arrow-down icon-rotate me-1"></i><span>-20%</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-auto col-xl-4 col-sm-4 box-col-4">
    <div class="row">
      <div class="col-xl-12">
        <div class="card widget-1">
          <div class="card-body">
            <div class="widget-content">
              <div class="widget-round primary">
                <div class="bg-round">
                  <svg class="svg-fill">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#tag"> </use>
                  </svg>
                  <svg class="half-circle svg-fill">
                    <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#halfcircle"></use>
                  </svg>
                </div>
              </div>
              <div>
                <h4>185</h4><span class="f-light">Guests today</span>
              </div>
            </div>
            <div class="font-primary f-w-500"><i class="icon-arrow-up icon-rotate me-1"></i><span>+20%</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-auto col-xl-4 col-sm-4 box-col-4">
    <div class="row">
        <div class="col-xl-12">
          <div class="card widget-1">
            <div class="card-body">
              <div class="widget-content">
                <div class="widget-round success">
                  <div class="bg-round">
                    <svg class="svg-fill">
                      <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#rate"> </use>
                    </svg>
                    <svg class="half-circle svg-fill">
                      <use href="{{ url_for('static', filename='assets/svg/icon-sprite.svg')}}#halfcircle"></use>
                    </svg>
                  </div>
                </div>
                <div>
                  <h4>5,7$m</h4><span class="f-light">Net Income</span>
                </div>
              </div>
              <div class="font-success f-w-500"><i class="icon-arrow-up icon-rotate me-1"></i><span>+70%</span></div>
            </div>
          </div>
        </div>
    </div>
  </div>