<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>List Of Pilgrims</h5><span>Complete database of all pilgrims</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-xl-4 col-sm-6 box-col-6">
            <div class="card ecommerce-widget">
              <div class="card-body support-ticket-font">
                <div class="row">
                  <div class="col-5"><span>Completed Hajj</span>
                    <h3 class="total-num counter">2563</h3>
                  </div>
                  <div class="col-7">
                    <div class="text-end">
                      <ul>
                        <li>New<span class="product-stts txt-success ms-2">8989<i
                              class="icon-angle-up f-12 ms-1"></i></span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="25"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6 box-col-6">
            <div class="card ecommerce-widget">
              <div class="card-body support-ticket-font">
                <div class="row">
                  <div class="col-5"><span>Completed Umrah</span>
                    <h3 class="total-num counter">8943</h3>
                  </div>
                  <div class="col-7">
                    <div class="text-end">
                      <ul>
                        <li>New<span class="product-stts txt-success ms-2">8989<i
                              class="icon-angle-up f-12 ms-1"></i></span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 70%" aria-valuenow="25"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>