<div class="col-xl-3 col-md-4 xl-50 box-col-6">
  <div class="card card-with-border bookmark-card">
    <a href="/hotel_settings">
      <div class="details-website"><img class="img-fluid"
          src="{{ url_for('static', filename='assets/images/lightgallry/004.png')}}" alt="">
        <div class="desciption-data">
          <div class="title-bookmark">
            <h6 class="title_3">Emaar Grand</h6>
            <p class="weburl_3">Makkah, Ibrahim al Khalil Street</p>
            <div class="hover-block">
              <ul>
                <li><a href="" onclick="editBookmark(3)" data-bs-toggle="modal" data-bs-target="#edit-bookmark"><i
                      data-feather="edit-2"></i></a></li>
                <li class="pull-right text-end"><a href="#"><i data-feather="tag"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="btn-showcase">
            <a href="/hotel_settings">
              <button class="btn btn-light" type="submit" data-bs-original-title="" title="">Edit</button>
            </a>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="col-xl-3 col-md-4 xl-50 box-col-6">
  <div class="card card-with-border bookmark-card">
    <a href="/hotel_settings">
      <div class="details-website"><img class="img-fluid"
          src="{{ url_for('static', filename='assets/images/lightgallry/005.png')}}" alt="">
        <div class="desciption-data">
          <div class="title-bookmark">
            <h6 class="title_4">Emaar Al Manar</h6>
            <p class="weburl_4">Makkah, Ibrahim Al Khalil Street - Mesfala</p>
            <div class="hover-block">
              <ul>
                <li><a href="" onclick="editBookmark(4)" data-bs-toggle="modal" data-bs-target="#edit-bookmark"><i
                      data-feather="edit-2"></i></a></li>
                <li class="pull-right text-end"><a href="#"><i data-feather="tag"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="btn-showcase">
            <a href="/hotel_settings">
              <button class="btn btn-light" type="submit" data-bs-original-title="" title="">Edit</button>
            </a>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="col-xl-3 col-md-4 xl-50 box-col-6">
  <div class="card card-with-border bookmark-card">
    <a href="/hotel_settings">
      <div class="details-website"><img class="img-fluid"
          src="{{ url_for('static', filename='assets/images/lightgallry/006.png')}}" alt="">
        <div class="desciption-data">
          <div class="title-bookmark">
            <h6 class="title_5">Emaar Andalusiah</h6>
            <p class="weburl_5">Makkah, Ibrahim Al Khalil Street, Shubaikah, Mecca 24231</p>
            <div class="hover-block">
              <ul>
                <li><a href="" onclick="editBookmark(5)" data-bs-toggle="modal" data-bs-target="#edit-bookmark"><i
                      data-feather="edit-2"></i></a></li>
                <li class="pull-right text-end"><a href="#"><i data-feather="tag"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="btn-showcase">
            <a href="/hotel_settings">
              <button class="btn btn-light" type="submit" data-bs-original-title="" title="">Edit</button>
            </a>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>