<div class="col-xl-9 col-md-12 box-col-7">
  <div class="email-right-aside bookmark-tabcontent">
    <div class="card email-body radius-left">
      <div>
        <div class="tab-content">
          <div class="tab-pane fade active show" id="pills-created" role="tabpanel" aria-labelledby="pills-created-tab">
            <div class="card mb-0">
              <div class="card-header d-flex">
                <h6 class="mb-0">All hotels</h6>
                <ul>
                  <li><a class="grid-bookmark-view" href="javascript:void(0)"><i data-feather="grid"></i></a></li>
                  <li><a class="list-layout-view" href="javascript:void(0)"><i data-feather="list"></i></a></li>
                </ul>
              </div>
              <div class="card-footer text-end">
                <a href="/hotel_settings_new">
                  <button class="btn btn-primary" type="submit" data-bs-original-title="" title="">+ New hotel</button>
                </a>
              </div>
              <div class="card-body pb-0">
                <div class="details-bookmark text-center">
                  <div class="row" id="bookmarkData">
                    <div class="col-xl-3 col-md-4 xl-50 box-col-6">
                      <div class="card card-with-border bookmark-card">
                        <a href="/hotel_settings">
                          <div class="details-website"><img class="img-fluid"
                              src="{{ url_for('static', filename='assets/images/lightgallry/1.png')}}" alt="">
                            <div class="desciption-data">
                              <div class="title-bookmark">
                                <h6 class="title_0">Emaar Elite Makka</h6>
                                <p class="weburl_0">Makkah, Ajyad Street 6309</p>
                              </div>
                            </div>
                            <div class="btn-showcase">
                              <a href="/hotel_settings">
                                <button class="btn btn-light" type="submit" data-bs-original-title="" title="">Edit</button>
                              </a>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-4 xl-50 box-col-6">
                      <div class="card card-with-border bookmark-card">
                         <a href="/hotel_settings">
                          <div class="details-website"><img class="img-fluid"
                              src="{{ url_for('static', filename='assets/images/lightgallry/002.png')}}" alt="">
                            <div class="desciption-data">
                              <div class="title-bookmark">
                                <h6 class="title_1">Emaar Al Noor</h6>
                                <p class="weburl_1">Makkah, Aziziah Street 5064</p>
                              </div>
                            </div>
                            <div class="btn-showcase">
                              <a href="/hotel_settings">
                                <button class="btn btn-light" type="submit" data-bs-original-title="" title="">Edit</button>
                              </a>
                            </div>
                          </div>
                         </a>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-4 xl-50 box-col-6">
                      <div class="card card-with-border bookmark-card">
                        <a href="/hotel_settings">
                          <div class="details-website"><img class="img-fluid"
                              src="{{ url_for('static', filename='assets/images/lightgallry/003.png')}}" alt="">
                            <div class="desciption-data">
                              <div class="title-bookmark">
                                <h6 class="title_2">Emaar Al Khalil</h6>
                                <p class="weburl_2">Makkah, Ibrahim al Khalil Street, Ajyad, 21599</p>
                              </div>
                            </div>
                            <div class="btn-showcase">
                              <a href="/hotel_settings">
                                <button class="btn btn-light" type="submit" data-bs-original-title="" title="">Edit</button>
                              </a>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>