<div class="email-wrap bookmark-wrap">
  <div class="row">
    <div class="col-xl-3 box-col-4">
      <div class="email-left-aside">
        <div class="card">
          <div class="card-body">
            <div class="email-app-sidebar left-bookmark">
              <div class="media">
                <div class="media-size-email"><img class="me-3 rounded-circle"
                    src="{{ url_for('static', filename='assets/images/user/hotel.jpeg')}}" alt="">
                </div>
                <div class="media-body">
                  <h6 class="f-w-600">Emaar Al Diyafa</h6>
                </div>
              </div>
              <ul class="nav main-menu" role="tablist">
                <li class="nav-item">
                  <br><hr>
                  <div class="modal fade modal-bookmark" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <form class="form-bookmark needs-validation" id="bookmark-form" novalidate="">
                            <div class="row g-2">
                              <div class="mb-3 mt-0 col-md-6">
                                <label>Collection</label>
                                <select class="js-example-disabled-results" id="bm-collection">
                                  <option value="general">General</option>
                                  <option value="fs">fs</option>
                                </select>
                              </div>
                            </div>
                            <input id="index_var" type="hidden" value="6">
                            <button class="btn btn-secondary" id="Bookmark" onclick="submitBookMark()"
                              type="submit">Save</button>
                            <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Cancel</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li><a id="pills-created-tab" data-bs-toggle="pill" href="#pills-created" role="tab"
                    aria-controls="pills-created" aria-selected="true"><span class="title">All hotels</span></a>
                </li>
                <li><a class="show" id="pills-favourites-tab" data-bs-toggle="pill" href="#pills-favourites" role="tab"
                    aria-controls="pills-favourites" aria-selected="false"><span class="title">Favourites</span></a>
                </li>
                <li><a class="show" id="pills-shared-tab" data-bs-toggle="pill" href="#pills-shared" role="tab"
                    aria-controls="pills-shared" aria-selected="false"><span class="title">Edited</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>