{% extends 'base-other-page.html' %}
{% block content %}
<div class="row m-0">
  <div class="col-12 p-0">
    <div class="login-card">
      <div>
        <div><a class="logo" href="#"><img class="img-fluid for-light" src="{{ url_for('static', filename= 'assets/images/logo/logo.png')}}"
              alt="looginpage"><img class="img-fluid for-dark" src="{{ url_for('static', filename= 'assets/images/logo/logo_dark.png')}}"
              alt="looginpage"></a></div>
        <div class="login-main">
          <form class="theme-form" method='post' action="/login_home">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> 
            <h4>Sign in to account</h4>
            <p>Enter your email & password to login</p>
            <div class="form-group">
              <label class="col-form-label">Email Address</label>
              <input class="form-control" type="email" name="email" required="" value="Hotel@gmail.com" placeholder="Test@gmail.com">
            </div>
            <div class="form-group">
              <label class="col-form-label">Password</label>
              <div class="form-input position-relative">
              
                <input class="form-control" type="password" name="password"  required="" value="test@123" placeholder="*********">

              </div>
            </div>
            <div class="form-group mb-0">
              <div class="checkbox p-0">
                <input id="checkbox1" type="checkbox">
                <label class="text-muted" for="checkbox1">Remember password</label>
              </div><a class="link" href="forget-password.html">Forgot password?</a>
              <div class="text-end mt-3">
                <button class="btn btn-primary btn-block w-100" type="submit">Sign in</button>
              </div>
            </div>
            <p class="mt-4 mb-0 text-center">Don't have account?<a class="ms-2" href="/signUp">Create Account</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scriptscontent %}
<script>
  document.getElementById('id_username').value = 'test'
  document.getElementById('id_password').value = 'test@123'
</script>
{% endblock %}