{% extends 'base-other-page.html' %}
{% block content %}

<div class="row m-0">
  <div class="col-12 p-0">
    <div class="login-card">
      <div>
        <div><a class="logo" action="/signup" href="#"><img class="img-fluid for-light"
              src="{{ url_for('static', filename= 'assets/images/logo/logo.png')}}" alt="looginpage"><img class="img-fluid for-dark"
              src="{{ url_for('static', filename= 'assets/images/logo/logo_dark.png')}}" alt="looginpage"></a></div>
        <div class="login-main">
          <form class="theme-form" method="post" action="/signUp">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <h4>Create account</h4>
            <p>Enter your personal details to create account</p>
            <div class="form-group">
              <label class="col-form-label pt-0">User Name</label>
              <input class="form-control" type="text" required="username" name='username' placeholder="Username">
            </div>
            <div class="form-group">
              <label class="col-form-label">Email Address</label>
              <input class="form-control" type="email" name="email" required="" placeholder="Test@gmail.com">
            </div>
            <div class="form-group">
              <label class="col-form-label">Password</label>
              <div class="form-input position-relative">
                <input class="form-control" type="password" name="password" required="" placeholder="*********">
                <div class="show-hide"><span class="show"></span></div>
              </div>
            </div>
            <div class="form-group mb-0">
              <div class="checkbox p-0">
                <input id="checkbox1" type="checkbox">
                <label class="text-muted" for="checkbox1">Agree with<a class="ms-2" href="#">Privacy Policy</a></label>
              </div>
              <button class="btn btn-primary btn-block w-100" type="submit">Create Account</button>
            </div>
            <p class="mt-4 mb-0">Already have an account?<a class="ms-2" href="/login_home">Sign in</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}