
<!--  <div class="col-sm-2">-->
<!--    <div class="card">-->
<!--      <div class="card-body add-post">-->
<!--        <form class="dropzone" id="singleFileUpload" action="/upload.php">-->
<!--          <div class="m-0 dz-message needsclick"><i class="icon-cloud-up"></i>-->
<!--            <h6 class="mb-0">Upload photo</h6>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--&lt;!&ndash; Container-fluid Ends&ndash;&gt;-->