<!-- Server-side processing Starts-->
<div class="col-sm-12">
  <div class="card">
    <div class="card-header pb-0 card-no-border">
      <h3 class="mb-3">Server-side processing</h3><span>There are many ways to get your data into DataTables, and if you
        are working with seriously large databases, you might want to consider using the server-side options that
        DataTables provides. With server-side processing enabled, all paging, searching, ordering actions that
        DataTables performs are handed off to a server where an SQL engine (or similar) can perform these actions on the
        large data set (after all, that's what the database engine is designed for!). As such, each draw of the table
        will result in a new Ajax request being made to get the required data.</span><span>Server-side processing is
        enabled by setting the <code class="option" title="DataTables initialisation option">serverSide:option</code>
        option to <code>true</code> and providing an Ajax data source through the <code class="option"
          title="DataTables initialisation option">ajax:option</code> option.</span>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="display" id="data-source-4" style="width:100%">
          <thead>
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Start date</th>
              <th>Salary</th>
              <th>Action</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Start date</th>
              <th>Salary</th>
              <th>Action</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->